In [1]:
import pandas as pd
import re

## 'Covid Data'

In [2]:
data = pd.read_csv("C:\\Users\\ayushjain9\\Desktop\\TwitterProject\\data\\combine.csv")

In [3]:
data.shape

(870589, 10)

In [4]:
#Remove duplicates from Content column
data.drop_duplicates(subset ="Content", inplace = True)

In [5]:
data.shape

(377547, 10)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 377547 entries, 0 to 870566
Data columns (total 10 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Datetime         377546 non-null  object
 1   Tweet Id         377545 non-null  object
 2   Content          377546 non-null  object
 3   Location         348776 non-null  object
 4   Retweeted Tweet  2 non-null       object
 5   Retweeted Count  377543 non-null  object
 6   Like Count       377543 non-null  object
 7   Hashtags         377394 non-null  object
 8   Follower Count   377542 non-null  object
 9   Verified User    377542 non-null  object
dtypes: object(10)
memory usage: 31.7+ MB

In [7]:
## Retweeted Tweet is 2
data.drop(['Tweet Id', 'Retweeted Tweet'], axis = 1, inplace=True)

In [8]:
print(data.columns.values.tolist())

['Datetime', 'Content', 'Location', 'Retweeted Count', 'Like Count', 'Hashtags', 'Follower Count', 'Verified User']

In [9]:
data.columns = [ 'date', 'text','user_location', 'retweets', 'likes_count','hashtags', 'user_followers', 'user_verified']

In [10]:
data = data[['user_location','user_followers', 'user_verified','date', 'text', 'hashtags','retweets','likes_count' ]]

In [11]:
data.head()

,user_location,user_followers,user_verified,date,text,hashtags,retweets,likes_count
0,‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢,33,FALSE,2020-03-01 23:34:58+00:00,Everyone takes care of their health please.‚úåüèΩüò∑...,"['COVID', 'worldwide']",2,2
1,Mumbai,370,FALSE,2020-03-01 22:08:50+00:00,I landed in Mumbai at midnight and there was a...,['covid'],0,0
2,Dhaka,57502,FALSE,2020-03-01 22:03:21+00:00,Here are the latest developments on the #coron...,"['coronavirusoutbreak', 'COVID', 'Coronavid19']",7,12
3,"Dubai, United Arab Emirates",2061,TRUE,2020-03-01 20:00:10+00:00,@UltraAbuDhabi @MEFCC to go ahead as scheduled...,['COVID'],0,0
4,SunnySideOfLife,754,FALSE,2020-03-01 18:37:11+00:00,@AbeShinzo request general public to avoid spo...,"['COVID19', 'coronavirus', 'COVID', 'Japan', '...",0,0

In [12]:
# Correcting Date format
data['date'] = pd.to_datetime(data['date'], errors='coerce').dt.date

data['date'] = pd.to_datetime(data['date'], errors='coerce').dt.date

In [13]:
data.head()

,user_location,user_followers,user_verified,date,text,hashtags,retweets,likes_count
0,‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢,33,FALSE,2020-03-01,Everyone takes care of their health please.‚úåüèΩüò∑...,"['COVID', 'worldwide']",2,2
1,Mumbai,370,FALSE,2020-03-01,I landed in Mumbai at midnight and there was a...,['covid'],0,0
2,Dhaka,57502,FALSE,2020-03-01,Here are the latest developments on the #coron...,"['coronavirusoutbreak', 'COVID', 'Coronavid19']",7,12
3,"Dubai, United Arab Emirates",2061,TRUE,2020-03-01,@UltraAbuDhabi @MEFCC to go ahead as scheduled...,['COVID'],0,0
4,SunnySideOfLife,754,FALSE,2020-03-01,@AbeShinzo request general public to avoid spo...,"['COVID19', 'coronavirus', 'COVID', 'Japan', '...",0,0

## 'Vaccination Data'

In [14]:
data1 = pd.read_csv("C:\\Users\\ayushjain9\\Desktop\\TwitterProject\\data\\vaccination_all_tweets.csv")

In [15]:
data1.shape

(193272, 16)

In [16]:
data1.columns

Index(['id', 'user_name', 'user_location', 'user_description', 'user_created',
       'user_followers', 'user_friends', 'user_favourites', 'user_verified',
       'date', 'text', 'hashtags', 'source', 'retweets', 'favorites',
       'is_retweet'],
      dtype='object')

In [17]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193272 entries, 0 to 193271
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                193272 non-null  int64
 1   user_name         193271 non-null  object
 2   user_location     134699 non-null  object
 3   user_description  179542 non-null  object
 4   user_created      193272 non-null  object
 5   user_followers    193272 non-null  int64
 6   user_friends      193272 non-null  int64
 7   user_favourites   193272 non-null  int64
 8   user_verified     193272 non-null  bool
 9   date              193272 non-null  object
 10  text              193272 non-null  object
 11  hashtags          152299 non-null  object
 12  source            193153 non-null  object
 13  retweets          193272 non-null  int64
 14  favorites         193272 non-null  int64
 15  is_retweet        193272 non-null  bool
dtypes: bool(2), int64(6), object(8)
memory usage: 21.0+ MB

In [18]:
data1.drop(['id','user_name','user_description', 'user_created','user_friends','source','is_retweet','user_favourites'], axis = 1, inplace=True)

In [19]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193272 entries, 0 to 193271
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_location   134699 non-null  object
 1   user_followers  193272 non-null  int64
 2   user_verified   193272 non-null  bool
 3   date            193272 non-null  object
 4   text            193272 non-null  object
 5   hashtags        152299 non-null  object
 6   retweets        193272 non-null  int64
 7   favorites       193272 non-null  int64
dtypes: bool(1), int64(3), object(4)
memory usage: 10.5+ MB

In [20]:
data1.columns = [ 'user_location','user_followers', 'user_verified','date', 'text', 'hashtags','retweets','likes_count']

In [ ]:
data1.info()

In [21]:
data1.head()

,user_location,user_followers,user_verified,date,text,hashtags,retweets,likes_count
0,"La Crescenta-Montrose, CA",405,False,2020-12-20 06:06:44,Same folks said daikon paste could treat a cyt...,['PfizerBioNTech'],0,0
1,"San Francisco, CA",834,False,2020-12-13 16:27:13,While the world has been on the wrong side of ...,NaN,1,1
2,Your Bed,10,False,2020-12-12 20:33:45,#coronavirus #SputnikV #AstraZeneca #PfizerBio...,"['coronavirus', 'SputnikV', 'AstraZeneca', 'Pf...",0,0
3,"Vancouver, BC - Canada",49165,True,2020-12-12 20:23:59,"Facts are immutable, Senator, even when you're...",NaN,446,2129
4,NaN,152,False,2020-12-12 20:17:19,Explain to me again why we need a vaccine @Bor...,"['whereareallthesickpeople', 'PfizerBioNTech']",0,0

In [22]:
# Correcting Date format
data1['date'] = pd.to_datetime(data1['date'], errors='coerce').dt.date

In [23]:
data1.head()

,user_location,user_followers,user_verified,date,text,hashtags,retweets,likes_count
0,"La Crescenta-Montrose, CA",405,False,2020-12-20,Same folks said daikon paste could treat a cyt...,['PfizerBioNTech'],0,0
1,"San Francisco, CA",834,False,2020-12-13,While the world has been on the wrong side of ...,NaN,1,1
2,Your Bed,10,False,2020-12-12,#coronavirus #SputnikV #AstraZeneca #PfizerBio...,"['coronavirus', 'SputnikV', 'AstraZeneca', 'Pf...",0,0
3,"Vancouver, BC - Canada",49165,True,2020-12-12,"Facts are immutable, Senator, even when you're...",NaN,446,2129
4,NaN,152,False,2020-12-12,Explain to me again why we need a vaccine @Bor...,"['whereareallthesickpeople', 'PfizerBioNTech']",0,0

# Merging Two DataFrames

In [24]:
# Stack the DataFrames on top of each other
df = pd.concat([data, data1], axis=0, ignore_index = True)

In [25]:
df.shape

(570819, 8)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 570819 entries, 0 to 570818
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_location   483475 non-null  object
 1   user_followers  570814 non-null  object
 2   user_verified   570814 non-null  object
 3   date            570816 non-null  object
 4   text            570818 non-null  object
 5   hashtags        529693 non-null  object
 6   retweets        570815 non-null  object
 7   likes_count     570815 non-null  object
dtypes: object(8)
memory usage: 34.8+ MB

In [27]:
df.head()

,user_location,user_followers,user_verified,date,text,hashtags,retweets,likes_count
0,‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢,33,FALSE,2020-03-01,Everyone takes care of their health please.‚úåüèΩüò∑...,"['COVID', 'worldwide']",2,2
1,Mumbai,370,FALSE,2020-03-01,I landed in Mumbai at midnight and there was a...,['covid'],0,0
2,Dhaka,57502,FALSE,2020-03-01,Here are the latest developments on the #coron...,"['coronavirusoutbreak', 'COVID', 'Coronavid19']",7,12
3,"Dubai, United Arab Emirates",2061,TRUE,2020-03-01,@UltraAbuDhabi @MEFCC to go ahead as scheduled...,['COVID'],0,0
4,SunnySideOfLife,754,FALSE,2020-03-01,@AbeShinzo request general public to avoid spo...,"['COVID19', 'coronavirus', 'COVID', 'Japan', '...",0,0

# Data Cleaning

## Date

In [28]:
df.date.isna

<bound method Series.isna of 0         2020-03-01
1         2020-03-01
2         2020-03-01
3         2020-03-01
4         2020-03-01
             ...
570814    2021-09-13
570815    2021-09-13
570816    2021-09-13
570817    2021-09-13
570818    2021-09-13
Name: date, Length: 570819, dtype: object>

In [29]:
df.dropna(subset =['date'], inplace=True)

In [30]:
df.shape

(570816, 8)

In [ ]:
# data['date'] = pd.to_datetime(data['date'], errors='coerce').dt.date

In [ ]:
# data1['date'] = pd.to_datetime(data1['date'], errors='coerce').dt.date

In [31]:
df.date.isnull().sum()

0

In [32]:
null_data = df[df.date.isnull()]
null_data

Empty DataFrame
Columns: [user_location, user_followers, user_verified, date, text, hashtags, retweets, likes_count]
Index: []

In [40]:
df[pd.notnull(df['date'])]

,user_location,user_followers,user_verified,date,text,hashtags,retweets,likes_count
0,‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢,33,FALSE,2020-03-01,Everyone takes care of their health please.‚úåüèΩüò∑...,"['COVID', 'worldwide']",2,2
1,Mumbai,370,FALSE,2020-03-01,I landed in Mumbai at midnight and there was a...,['covid'],0,0
2,Dhaka,57502,FALSE,2020-03-01,Here are the latest developments on the #coron...,"['coronavirusoutbreak', 'COVID', 'Coronavid19']",7,12
3,"Dubai, United Arab Emirates",2061,TRUE,2020-03-01,@UltraAbuDhabi @MEFCC to go ahead as scheduled...,['COVID'],0,0
4,SunnySideOfLife,754,FALSE,2020-03-01,@AbeShinzo request general public to avoid spo...,"['COVID19', 'coronavirus', 'COVID', 'Japan', '...",0,0
...,...,...,...,...,...,...,...,...
570814,"Bengaluru, India",25,False,2021-09-13,18-44 #BBMP #Bengaluru #CovidVaccine Availabil...,"['BBMP', 'Bengaluru', 'CovidVaccine', 'COVISHI...",0,1
570815,"Bengaluru, India",25,False,2021-09-13,18-44 #URBAN #Bengaluru #CovidVaccine Availabi...,"['URBAN', 'Bengaluru', 'CovidVaccine', 'COVISH...",0,0
570816,"Fremont, CA, USA",670,False,2021-09-13,US Special Envoy for Climate ... - https://t.c...,['IndiaPostUSA'],0,1
570817,"Fremont, CA, USA",670,False,2021-09-13,India's cumulative COVID-19 vaccination covera...,NaN,0,0
570818,"Bengaluru, India",25,False,2021-09-13,45+ #URBAN #Bengaluru #CovidVaccine Availabili...,"['URBAN', 'Bengaluru', 'CovidVaccine', 'COVISH...",0,0

In [ ]:
df.head()

## Location

In [38]:
# Location
df.user_location

0                            ‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢
1                               Mumbai
2                                Dhaka
3         Dubai, United Arab Emirates
4                      SunnySideOfLife
                      ...
570814                Bengaluru, India
570815                Bengaluru, India
570816                Fremont, CA, USA
570817                Fremont, CA, USA
570818                Bengaluru, India
Name: user_location, Length: 570816, dtype: object

In [34]:
countries = list(df.user_location)
countries

['‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢',
 'Mumbai',
 'Dhaka',
 'Dubai, United Arab Emirates ',
 'SunnySideOfLife',
 'Eheliyagoda, Sri Lanka',
 'New Delhi, India',
 '√úT: 30.700577, 76.705414',
 'Islamabad',
 'Mumbai, India',
 'Jacksonville, FL',
 nan,
 'Europe',
 'New Delhi',
 '‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£, ‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢',
 'Nepal, Bharatpur, Chitwan',
 'Bengaluru, India ',
 'Hanoi, Vietnam',
 'Toronto, Ontario, CAN',
 'Seattle, WA',
 'United States',
 'Virginia, USA',
 'Wood Dale, IL',
 'New York, USA',
 'Houston, TX',
 'Baltimore / DC',
 'Newport Beach, CA + ‚úàÔ∏è',
 'Charleston, SC',
 'Rochester, NY',
 'Pittsburgh,  PA ',
 'New Jersey, USA',
 'nyc',
 'United States',
 'Maryland, USA',
 'Das K√∂nigreich R√ºcken',
 'Phoenix, AZ',
 '33871',
 'Seattle, WA',
 'nyc',
 'Truckee, CA',
 'I also lurk on Goodreads ...',
 'Sacramento, CA',
 'Houston, TX',
 'St. Louis, MO',
 'Los Angeles, CA',
 'she/her',
 'United States',
 'Wichita, KS',
 'Donegal, Ireland',
 'United Kingdom',
 'United Kingdom',
 'faulks Road Aba . ',
 'Brussels, Belgium',
 'London, UK',
 'Scotland, United Kingdom',
 'London, UK',
 nan,
 'Sevilla',
 'Copenhagen, Denmark',
 'Bratislava',
 'London, England',
 'Netherlands',
 'Manchester, England',
 nan,
 'Bradford, England',
 'Magdeburg, Germany',
 'Lovaina, B√©lgica',
 'Cardiff ',
 'Cork, Ireland ',
 'UK & Ireland',
 'Javea, Spain',
 'Newport, South Wales, UK',
 'Geneva, Switzerland',
 'Berlin (zugereist), Germany ',
 'Los Angeles, CA',
 'Moonüåõ',
 'Karachi,Pakistan',
 'SunnySideOfLife',
 "N 33¬∞36' 0'' / E 73¬∞3' 0''",
 'City of Dreams',
 'Dubai, United Arab Emirates',
 'Bihar, ‡§≠‡§æ‡§∞‡§§',
 'Bandar Kuala Lumpur, Wilayah P',
 'Islamic Republic of Iran',
 'Wales üè¥\U000e0067\U000e0062\U000e0077\U000e006c\U000e0073\U000e007f ',
 nan,
 'Petaling Jaya Malaysia',
 'Yangon,Myanmar ',
 'Quetta, Pakistan',
 'Liverpool, England',
 'Tattooed In Your Mind',
 '‰∏≠ËèØ‰∫∫Ê∞ëÂÖ±ÂíåÂúãÈ¶ôÊ∏ØÁâπÂà•Ë°åÊîøÂçÄ Hong Kong SAR',
 'Riyadh',
 'Maldives',
 'Singapore',
 'Jersey',
 '‰∏≠ËèØ‰∫∫Ê∞ëÂÖ±ÂíåÂúãÈ¶ôÊ∏ØÁâπÂà•Ë°åÊîøÂçÄ Hong Kong SAR',
 nan,
 '‰∏≠ËèØ‰∫∫Ê∞ëÂÖ±ÂíåÂúãÈ¶ôÊ∏ØÁâπÂà•Ë°åÊîøÂçÄ Hong Kong SAR',
 'Bahrain',
 'Somewhere in between',
 'Bangkok, Thailand',
 'North Carolina',
 'Sugar Land, Texas',
 'Maryland',
 'Lewes DE',
 nan,
 'New York, NY',
 'Ataxia, Tremor .',
 'Yale University',
 '‚àû 38.8301172,-93.9812567',
 'Melbourne, FL',
 'Vermont.South Africa.Mainline',
 'S.F., CA ‚áî KCMO ‚áî Charlotte NC',
 '#RemoteWork #Boston ',
 'Seattle, Washington #UpperLeft',
 'S.F., CA ‚áî KCMO ‚áî Charlotte NC',
 'S.F., CA ‚áî KCMO ‚áî Charlotte NC',
 'Durham, NC',
 'Cambridge, MA',
 'World ',
 'Vaxxed in Colorado #binders',
 'TDot & EVERYWHERE!',
 'Somewhere',
 'Jackson Heights, NY',
 'Toronto, ON, Canada',
 'New York, NY',
 'Toronto, Ontario, CAN',
 'Unionbridge ,Md.',
 'Camberville',
 'Dedham, MA',
 'New Jersey, USA',
 'Northeast Ohio',
 'Newport, RI',
 'üåé',
 'Charlotte, NC',
 'Glocester, RI, USA',
 'Beach, Rivers & Farmland',
 'Ireland',
 'Windsor Berkshire UK ',
 'Beautiful Ireland',
 'Sligo',
 'Belgium',
 nan,
 'Dublin City, Ireland',
 'North County Dublin, Ireland',
 'Belgium',
 'Belgium',
 'Madrid ',
 'Austria',
 'North County Dublin, Ireland',
 'Caerdydd',
 'London, England',
 'Monaco',
 nan,
 'Glasgow, Scotland',
 'Goteborg',
 'emerald isle',
 'London and the Shires...',
 'Glasgow, Scotland',
 'North Yorkshire, UK',
 'Glasgow, Scotland',
 'Motherwell, Scotland',
 nan,
 'Fife ‚Ä¢ Dundee ‚Ä¢ üè¥\U000e0067\U000e0062\U000e0073\U000e0063\U000e0074\U000e007f',
 'Florence,Italy',
 'Dudelange, Luxembourg',
 'Dudelange, Luxembourg',
 'Leeds, England',
 'Cardiologist - Itay',
 'London and the Shires...',
 'Lugano, Ticino',
 'Karachi,Pakistan',
 'New Delhi',
 'Nepal',
 'Karachi,Pakistan',
 'Dubai, UAE',
 'ÿ≥ŸÑÿ∑ŸÜÿ© ÿπŸÖÿßŸÜ',
 'Dubai',
 'Hyderabad, India',
 'Muscat, Oman',
 nan,
 'Dubai, United Arab Emirates',
 nan,
 'Salumbar',
 'London',
 'Pakistan',
 'India',
 'San Antonio, TX',
 'Everywhere',
 'Brecksville, OH',
 'Boulder Colorado',
 'Washington, DC',
 'Cincinnati, OH',
 'Toronto',
 nan,
 'New York',
 'Scottsdale üõ´üõ¨ La',
 'Washington, D.C.',
 'Greenville, SC',
 'Florida',
 'New York, USA',
 'Watching Baseball',
 'Mississippi City',
 'Washington, USA',
 'California, USA',
 'USA',
 'Los Angeles, CA',
 'Portland, OR',
 'Boardman, OH',
 'United States.',
 'Baton Rouge, LA',
 'NY',
 'NY',
 'Rittenhouse, Philadelphia',
 'Canada and the United States',
 'Mcallen Texas',
 'Staten Island, NY',
 'Lancashire',
 'Paris, France',
 'Worcestershire, United Kingdom',
 'D√ºsseldorf, Germany',
 'Copenhagen',
 'Nottingham, England',
 'Amsterdam',
 '–ù–µ–º–∫–∞ —Ç–æ–ª—å–∫–æ –Ω–∞ –±—É–º–∞–≥–µ!',
 nan,
 'M√ºnchen',
 'PE28 0UR',
 'All over the world',
 'Bremerhaven',
 'Walld√ºrn, Deutschland',
 'Zeilnomade',
 'University of Memes, Dublin',
 'Bayern, Deutschland',
 'Netherlands',
 'Bielefeld, Germany',
 nan,
 nan,
 'worldwide',
 'North West of Ireland',
 'Belfast-Genes via Clare/Galway',
 'Paris, France',
 'Home ',
 'Dalton-in-Furness',
 nan,
 'Belfast-Genes via Clare/Galway',
 'Karachi, Pakistan',
 'Goa, India',
 'Muscat, Oman',
 nan,
 'Islamic Republic of Iran',
 'Sargodha, Punjab, Pakistan',
 'Maharashtra, India',
 'Doha, Qatar',
 'Maldives',
 'Maldives',
 'Hyderabad, Pakistan',
 'Bengaluru, India',
 'London UK',
 'Indonesia',
 'Mumbai, India',
 'Chennai, Tamil Nadu',
 'Chennai, Tamil Nadu',
 'Pakistan',
 'New Delhi',
 'Chandigarh, India',
 'India',
 'Bengaluru, India',
 'India',
 'Bihar, ‡§≠‡§æ‡§∞‡§§',
 'Rishikesh, India',
 'St Louis, MO',
 'Washington, D.C.',
 'Chicago, IL',
 'Delray Beach Fl 33446',
 'New York, New York',
 '#RemoteWork #Boston ',
 'Ireland',
 'location:  in my head',
 'Canada',
 'Yale University',
 'Colorado',
 'Purely Stone Age',
 nan,
 'Purely Stone Age',
 'Peachtree City, GA',
 nan,
 'Staten Island, NYC',
 'New York, NY',
 'Global',
 'North Vancouver, BC',
 'New Orleans, LA',
 'San Diego, CA. USA',
 'Beach, Rivers & Farmland',
 'Castelnovo di Sotto, Emilia Romagna',
 nan,
 'Barnsley, England',
 'Moray',
 'Leeds, England',
 'Glasgow, Scotland',
 'Glasgow, Scotland',
 'Aylesbury, England',
 'London, England',
 'Falkirk',
 'Barnsley, England',
 'Belgium-Vi·ªát Nam-Hong Kong-È¶ôÊ∏Ø-China-‰∏≠ÂõΩ',
 'Thame Oxon',
 "Omnipresent, aren't you?!",
 'the frozen north',
 'Bath and Leigh on sea',
 'Protect Children+School Staff',
 'Liverpool, England',
 'Newry and Mourne ',
 'Earth ',
 'London',
 'Grosseto - Italy',
 'Madrid ',
 'Liverpool',
 'Riano, Lazio',
 'Cologne, Germany',
 'China',
 'Singapore',
 'Singapore',
 'between worlds',
 'California',
 'San Antonio, TX',
 'Cork/London/Perth',
 'UK',
 'London',
 'BKLYN,  Puerto Rico & Texas',
 '‡§¶‡§ø‡§≤‡•ç‡§≤‡•Ä, ‡§≠‡§æ‡§∞‡§§',
 'Washington, DC',
 'Kalamboli, Navi Mumbai',
 'Boulder, CO',
 'Shaker Heights, OH, USA.',
 'Miami',
 'North West, England',
 'Eastbourne,sussex',
 'Evans, CO, US, 80620',
 'Houston, TX',
 'Pennsylvania, USA',
 'Washington, DC',
 'Georgia USA',
 'South Carolina, USA',
 'Ireland',
 'Welshpool, Wales',
 'Wherever i lay my hat ',
 'London United Kingdom',
 'Leinster, Ireland',
 'Mumbai, India',
 'Iselin, NJ',
 'Singed Pole, Maine',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 'Lahore, Pakistan',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 'Washington, DC',
 'Salisbury, CT',
 'Philadelphia',
 'Washington',
 'Arizona, USA',
 'Auburn, IN',
 'New York, NY',
 'Ontario, Canada',
 'Columbia MO',
 'FINN Partners - Health Practice',
 'New York/Brazil',
 'Hopkinsville, KY',
 'Silicon Valley',
 'Calabasas, CA',
 nan,
 'I left my heart in Austin TX',
 'Aberdeen, Scotland',
 'Bussum, Nederland',
 'Switzerland',
 'Salisbury, CT',
 'Arlington VA',
 'North Hollywood, Los Angeles',
 'New Delhi',
 'Nash Co. NC',
 'Henderson NV 89014',
 'North Carolina, USA',
 'Colchester',
 'DELHI, INDIA. ',
 'Pennsylvania, USA',
 'Pennsylvania, USA',
 'Pennsylvania, USA',
 'Pennsylvania, USA',
 'Texas, USA',
 'Louisiana, USA',
 'Portsmouth ',
 'Mumbai, India',
 'Pakistan',
 'kuala lumpur ',
 'Warangal,Telangana   ',
 'Karachi, Hyderabad Pakistan',
 'Chennai, Tamil Nadu',
 'ÿßŸÑÿ±Ÿäÿßÿ∂, ÿßŸÑŸÖŸÖŸÑŸÉÿ© ÿßŸÑÿπÿ±ÿ®Ÿäÿ© ÿßŸÑÿ≥ÿπŸàÿØ',
 'New Delhi (INDIA)',
 'Maur, India',
 nan,
 'SunnySideOfLife',
 'Purnia, India',
 nan,
 'Bangkok, Thailand',
 'India',
 'Pokhara , Nepal',
 'Maldives',
 'Kashmir  ⁄©ÿ¥ŸÖ€åÿ±',
 'Hyderabad, India',
 'Assam, India',
 'Delhi -34',
 'Pakistan',
 nan,
 'Guwahati, India',
 nan,
 'Gurgaon, India',
 'Sunny San Diego',
 'On a whim',
 'Shaker Heights, OH, USA.',
 'Capitol Hill, Washington',
 'Garden State Resident',
 'Strathroy ON | Lakeport MI',
 'North Myrtle Beach, SC USA',
 'Florida, USA üò∑',
 'Seattle',
 'Gainesville FL',
 'Louisville, KY',
 'Nacotchtank land aka DC',
 'Florida, USA üò∑',
 'West Contra Costa County, CA',
 '(561) 847-3467',
 "Philly 'Burbs (Langhorne, PA)",
 'Champaign, IL, USA',
 'New Jersey, USA',
 'Earth.',
 'Ceredo, WV',
 nan,
 'Kingwood',
 'New York, NY',
 'Austin',
 'Austin',
 'Pasco, FL',
 'Canada',
 'Virginia Beach, VA',
 'Nashville, Tennessee',
 'Nashville, Tennessee',
 'Ireland',
 'London, England',
 nan,
 'Edinburgh, Scotland',
 'GL52 6DA',
 'Edinburgh, Scotland',
 'London/Antwerp',
 'London, England',
 'Milan, Italy',
 'Ireland',
 'Thornaby on Tees, England',
 'Thornaby on Tees, England',
 'London, England',
 'London & New Forest',
 'London, England',
 'Bouches-du-Rh√¥ne, Provence-Alp',
 nan,
 'Stamford, England',
 'Hackney, London, UK',
 'London, England',
 "Belfast 'Norn Iron'",
 nan,
 'United Kingdom',
 'Topsham',
 nan,
 nan,
 'Singapore',
 '1.385551,103.875096',
 'Malaysia',
 'Dhaka',
 'Mal√©, Maldives',
 'Hyderabad, India',
 'ﬁãﬁ®ﬁàﬁ¨ﬁÄﬁ®ﬁÉﬁßﬁáﬁ∞ﬁñﬁ¨',
 'Helsinki, Finland ',
 'Bombay',
 'Riyadh, Saudi Arabia',
 'Saudi Arabia',
 'Ranchi, India',
 'Maldives',
 'South Extn, New Delhi',
 'Al Wakra, Qatar',
 'New Delhi, India',
 'City of Pearls, India',
 'The Himalaya',
 'üåç',
 'Thailand',
 'Kuala Lumpur, Malaysia',
 'Kuala Lumpur City, Kuala Lumpu',
 nan,
 'Ciudad de M√©xico',
 'Maur, India',
 'Yangon,Myanmar ',
 'North Carolina',
 'Portland, Oregon',
 'Maine, USA',
 'Maine, USA',
 nan,
 nan,
 'New York, NY',
 'Ontario, Canada',
 'Bozeman, MT',
 'Weimar Republic',
 'Providence, RI',
 'Oxford, Mississippi',
 'Vancouver, British Columbia',
 'King County, Washington, USA',
 'Cortland, NY',
 'Oxford, Mississippi',
 'United Nations, NYC',
 'Baltimore, MD',
 'Orlando FL',
 'Baltimore, MD',
 'New York City',
 'Massachusetts, Wakanda',
 'Minneapolis, MN',
 'Golden State via NYCüáØüá≤üåä',
 'Washington, DC',
 'Pleasant Prairie, WI',
 nan,
 'Washington, DC',
 'S.F., CA ‚áî KCMO ‚áî Charlotte NC',
 'United States',
 'Boston, MA',
 nan,
 'New Jersey, USA',
 'Washington, DC',
 'Pittsburgh, PA',
 'United States',
 'S.F., CA ‚áî KCMO ‚áî Charlotte NC',
 'Civic Center Tenderloin',
 'St Robert,Quebec',
 'Milky Way',
 'Ada County ID',
 'Brighton, England',
 'Paris',
 'Belgium',
 '√úT: 52.475839,-0.710664',
 'Limerick & Ennis Ireland',
 'Dublin City, Ireland',
 'Dublin City, Ireland',
 'Leitrim, Ireland',
 'Clontarf,Dublin,Ireland',
 'Belgium',
 'Belgium',
 'Mayfair london UK 02030877570',
 'Belgium',
 'United Kingdom',
 nan,
 'London and the Shires...',
 nan,
 'Glasgow, Scotland',
 'United Kingdom',
 'Banbridge, NI',
 ' London',
 'Cali, London or in the ‚òÅÔ∏è ',
 'Geneva, Switzerland',
 'Roma, Lazio',
 'Germany',
 'Lincolnshire',
 'Richmond-upon-Thames, UK',
 'rbkc, london',
 'Rabat, Kingdom of Morocco',
 'Bari, Italy',
 'Roma',
 'Newton-le-Willows, England',
 'Northampton, England',
 'Cardiff',
 nan,
 'Noida, Delhi, India',
 'India',
 'Rajouri, Jammu and Kashmir',
 '.',
 'South Extn, New Delhi',
 'oye Im Pakistani!!',
 'Ahmadabad City, India',
 'Kashmir  ⁄©ÿ¥ŸÖ€åÿ±',
 'Bharat',
 'Maharashtra, India',
 'Bangalore',
 'City of Dreams',
 'Dubai, United Arab Emirates',
 'Miramar ',
 'Corpus Christi, TX',
 'Delray beach,Florida',
 'Del Rey, CA',
 'North of El Lay',
 'San Jose, CA',
 'Canyon Lake, TX',
 'United States',
 'North America',
 'Syracuse, NY',
 'Boston, MA',
 'New York, NY',
 'Somewhere in Time',
 'Seattle, WA',
 'United States',
 'California, USA',
 'Bethlehem',
 'Claremont,CA',
 'America',
 'New York, NY',
 'Miami, FL',
 'Orlando, FL ‚úàÔ∏è World Wide üåé',
 'Vancouver, BC, Canada',
 'Hollywoodland',
 'Philadelphia, PA/Portland, OR ',
 'IG: @RondoThaKiid',
 'IG: @RondoThaKiid',
 'Mason, OH',
 'The Fourth Estate ',
 'St. Petersburg, FL',
 'Pornhub HQ',
 'New South Wales, Australia',
 'Hackney, London',
 'London',
 'Norwich',
 'Southend on Sea',
 'Edinburgh',
 'Wroclaw',
 'Cologne',
 'Antwerpen, Belgi√´',
 'Rotselaar, Belgi√´',
 'Netherlands, Loosdrecht',
 'Brno, ƒåesk√° republika',
 'Frankfurt',
 nan,
 'Stockholm, Sweden',
 'a spiral galaxy/cat land ',
 'UK and everywhere',
 'France',
 nan,
 'iPhone: 52.019607,6.062171',
 'Berlin I Br√ºssel ',
 'tunisia ',
 'Tanger - T√©touan, Royaume du M',
 'K√∂ln',
 'Milan, Lombardy',
 'mumbai',
 'Wellington, Shropshire',
 'Barcelona, Catalu√±a',
 'Wangerland und Hamburg',
 'Liverpool, England',
 '‰∏≠ËèØ‰∫∫Ê∞ëÂÖ±ÂíåÂúãÈ¶ôÊ∏ØÁâπÂà•Ë°åÊîøÂçÄ Hong Kong SAR',
 'Hyderabad, India',
 'Hyderabad, India',
 'Gilgit/Lahore. ',
 'Bengaluru, India',
 'Fort Worth, TX',
 nan,
 'Karachi, Pakistan',
 'In ur heart‚ù§Ô∏èüòò',
 nan,
 'Hyderabad, Delhi',
 'Dubai, United Arab Emirates',
 'Here, There, Everywhere',
 'Mumbai, Maharashtra',
 'Monaco',
 'Hyderabad, New Delhi, Ballia',
 'Bhopal, India',
 'Makati City',
 'New Delhi, India',
 'Makati City',
 'Dubai, UAE',
 'U.A.E.',
 'Afghanistan',
 'Sindh, Pakistan',
 'Delhi',
 'Afghanistan',
 'Hitech City, Rajendra Nagar',
 'Jaipur, India',
 'Riyadh',
 'Louisville, KY, United States',
 'Long Island/NYC/VT',
 nan,
 'Glendora, Ca',
 'Saturn',
 'St Petersburg, FL ‚òÄÔ∏è',
 'Los Angeles, CA',
 'United States',
 'United States',
 'Beach, Rivers & Farmland',
 'California',
 "N 33¬∞32' 0'' / W 117¬∞3' 0''",
 'Chicago, IL',
 'San Jose, CA',
 'Washington, DC',
 'Orlando, FL',
 'University of South Carolina',
 'OKCüçÉHouston is my üíó',
 'Northern New Jersey AKA XANADU',
 'Las Vegas, NV',
 'Redwood City, CA',
 'London, England',
 'Wakefield UK',
 'Tower Hamlets',
 'Skipton, England',
 'Leeds, England',
 'Leicester, England',
 'detroit chicago berlin',
 nan,
 'Southampton, UK',
 'Follow Me On LinkedIn üëâ',
 'UK Herefordshire',
 'Lugo (Ra)',
 'Paris, France',
 'London, England',
 '51.575909,-9.028894',
 'cardiff',
 'The Doors of Perception',
 'Newcastle Upon Tyne, England',
 'The Cowley Road',
 'Bristol, England',
 'Milton Keynes, England',
 'Maassluis, Nederland',
 'New Delhi, Delhi',
 'London, UK',
 'South East, England',
 'Pennsylvania, USA',
 nan,
 'San Francisco',
 'United States',
 'United States',
 'Vancouver, WA',
 'Carmel, IN',
 nan,
 'Litchfield Park, Arizona',
 'Barcelona, Spain',
 'Surrey, England',
 'England, United Kingdom',
 'Beckhamstead',
 'salford',
 'Los Angeles',
 'Wheat Ridge, CO',
 'Houston,Texas',
 nan,
 'Providence, RI',
 'Bridgewater, MA',
 'Taipei, Taiwan',
 'Auburn, AL',
 'Dallas, TX',
 'Columbia, South Carolina, USA',
 'Kuala Lumpur',
 'London, England',
 'Kuala Lumpur',
 'Los Angeles, CA',
 'Florida, by way of Jersey',
 'Las Vegas',
 'Seattle, WA',
 'Texas, USA',
 'Wherever i lay my hat ',
 'WORLD WIDE ',
 'Assam, India',
 '√úT: 39.042075,-94.588585',
 'Fort Worth, Texas',
 nan,
 'TCU, Texas',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 nan,
 'Asheville, NC',
 'Mountain View, CA',
 'United States',
 'S.F., CA ‚áî KCMO ‚áî Charlotte NC',
 'S.F., CA ‚áî KCMO ‚áî Charlotte NC',
 'Enid OK',
 'Alabama',
 'Fairfax, VA',
 'Silicon Valley ',
 'Toronto, Ontario ',
 'Mountain View, CA',
 'Canada',
 'Mountain View, CA',
 'Canora, Saskatchewan',
 'Iowa',
 'illegaly here',
 'Miami, FL',
 'Chicago',
 'Bayou Blue, LA',
 'Miami, FL',
 'The moon ',
 'Stuart, FL - from NOLA',
 'Belfast, Northern Ireland ',
 'Hamburg',
 'Islamabad, Pakistan',
 'Manhattan/day, Queens/night',
 'Washington, DC',
 'South Carolina',
 'South Carolina',
 'Bronx, NY',
 'U.S.A.',
 nan,
 'Bhubaneshwar, India',
 'Vancouver, British Columbia',
 'Houston',
 'Atlanta, GA',
 'LOS ANGELES CA',
 'Napoli, Campania',
 'Houston, TX',
 'Washington, DC',
 'Gilbert, AZ',
 'Washington, DC',
 'Stratford, London UK',
 'Inverness, Scotland',
 'Milton Keynes',
 'Durgapur, West Bengal, India',
 'Nepal',
 'Singapore',
 nan,
 ' Dubai, UAE ',
 'Chennai, Tamil Nadu',
 'New Delhi, India',
 'Rohtak, India',
 'India',
 'SunnySideOfLife',
 'Shimla, India',
 'India',
 'New Delhi, India',
 'Jalpaiguri, India',
 'India',
 'India',
 'India',
 'Gagret,Himachal Pradesh, India',
 'Spokane, WA',
 'Texas, USA',
 'Dania Beach, FL',
 nan,
 'Jacksonville, FL',
 'Antwerp',
 'Antwerp',
 'Mostly home',
 'Texas, USA',
 'Earth.',
 'Los Angeles, CA',
 nan,
 'Garden State Resident',
 'Overland Park, Kansas',
 'FL ‚û°Ô∏è SC üõ£ MS üõ´ AZ',
 'Dania Beach, FL',
 'Westport, CT',
 'Dania Beach, FL',
 'Copenhagen',
 'Capital Region, Denmark',
 'Copenhagen',
 'Vermont.South Africa.Mainline',
 "CouncilBluffs/IA'sLeading Edge",
 'Westport, CT',
 'Las Vegas, NV',
 'Saint Paul, MN',
 'Manhattan, NY',
 'Dania Beach, FL',
 'Victoria, BC',
 'McLean, VA ',
 nan,
 'Newport, South Wales, UK',
 'Leeds, England',
 'London, England',
 'York, England',
 'Thornaby on Tees, England',
 'Thornaby on Tees, England',
 'Thornaby on Tees, England',
 'Thornaby on Tees, England',
 'Ireland',
 'Ireland',
 'Varies Somewhat',
 'Paris, France',
 'ÿßŸÑŸÖÿßŸÑÿØŸäŸÅŸä',
 'Mal√©, Maldives',
 'Singapore',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 'Addu, Maldives',
 'Qatar',
 'Gurgaon, India',
 'Ciudad de M√©xico',
 'Al Khobar, Kingdom of Saudi Ar',
 'Bihar, ‡§≠‡§æ‡§∞‡§§',
 "A bit of wherever I've been ",
 'India üáÆüá≥',
 'Mumbai, India',
 'New Delhi, India',
 'Bangkok, Thailand',
 'Aarey, Mumbai',
 'Sydney',
 'Surat, Gujarat, India',
 'Hyderabad, India',
 'Mumbai, India',
 'Bangkok, Thailand',
 'Qatar',
 "Male', Maldives",
 'Andhra Pradesh, India',
 '‡§≠‡§æ‡§∞‡§§ üáÆüá≥',
 'Warangal,Telangana   ',
 'Bangalore',
 'Seattle, WA',
 'Lincoln, Nebraska, USA',
 'Hartford, CT',
 'Oakland, CA',
 'Dallas, TX',
 'stolen land of Ohlone',
 'Orinda, CA',
 nan,
 'New York, NY',
 'New Orleans, LA',
 nan,
 nan,
 'Philadelphia, PA',
 'San Antonio, TX',
 'Mumbai',
 '√úT: 37.37988,-122.113773',
 'S.F., CA ‚áî KCMO ‚áî Charlotte NC',
 '√úT: 37.37988,-122.113773',
 'Purely Stone Age',
 'S.F., CA ‚áî KCMO ‚áî Charlotte NC',
 '√úT: 26.094028,-80.244448',
 'Portland, OR',
 'üá∫üá≤ | üá™üá∫ | üáÆüá≥ | üá¶üá∫',
 'United States',
 'Lincoln, Nebraska, USA',
 'Lincoln, Nebraska, USA',
 "wherever there's wifi",
 'Purely Stone Age',
 'United States',
 'Grand Junction, CO',
 'Seattle, WA',
 'Indianapolis, IN',
 'Purely Stone Age',
 'Portland, OR',
 '√úT: 37.37988,-122.113773',
 'Purely Stone Age',
 'Seattle, WA',
 'The Cloud',
 'Portland, OR',
 'Nashville, TN',
 'Inglewood, CA',
 'San Francisco Bay Area',
 'Chandler, AZ',
 'Belgium',
 'London, England',
 'Galway, Ireland',
 'Acquaviva delle Fonti, Italia',
 'Cardiff, Wales',
 'Brussels, Belgium',
 'London, UK',
 'Mansfield',
 'Gen√®ve, Suisse',
 nan,
 'Cork, Ireland',
 'Budapest, Hungary',
 '#Khansbackgarden',
 'Ballycroy westport mayo',
 'Everywhere',
 'http://www.propofology.com',
 'Lisbon, Portugal',
 'NE Hampshire',
 'Garforth, England',
 'http://www.propofology.com',
 'United Kingdom',
 'Madrid ',
 'Geneva üèî - Amsterdam üå´',
 'Geneva, Switzerland',
 'Madrid ',
 'Dorrington, Nr Shrewsbury, UK',
 'Derby, England',
 'Southport, U.K.',
 'NE Hampshire',
 'NE Hampshire',
 'end of world',
 '√úT: 51.495768,0.082194',
 'Chirurgo Oculista Milano Roma ',
 'North Tipperary & Galway \U0001f92a',
 'Dublin, Ireland',
 'Planet Earth',
 'United Kingdom',
 nan,
 'Geneva, Switzerland',
 'FARIDABAD',
 ...]

In [35]:
import nltk
nltk.download('words')
from nltk.corpus import words

[nltk_data] Downloading package words to
[nltk_data]     C:\Users\ayushjain9\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

In [36]:
Word = list(set(words.words()))

In [43]:
df = df[df['user_location'].str.contains('|'.join(Word), na = False)]

In [44]:
list(df.user_location)

['Mumbai',
 'Dhaka',
 'Dubai, United Arab Emirates ',
 'SunnySideOfLife',
 'Eheliyagoda, Sri Lanka',
 'New Delhi, India',
 '√úT: 30.700577, 76.705414',
 'Islamabad',
 'Mumbai, India',
 'Jacksonville, FL',
 'Europe',
 'New Delhi',
 'Nepal, Bharatpur, Chitwan',
 'Bengaluru, India ',
 'Hanoi, Vietnam',
 'Toronto, Ontario, CAN',
 'Seattle, WA',
 'United States',
 'Virginia, USA',
 'Wood Dale, IL',
 'New York, USA',
 'Houston, TX',
 'Baltimore / DC',
 'Newport Beach, CA + ‚úàÔ∏è',
 'Charleston, SC',
 'Rochester, NY',
 'Pittsburgh,  PA ',
 'New Jersey, USA',
 'nyc',
 'United States',
 'Maryland, USA',
 'Das K√∂nigreich R√ºcken',
 'Phoenix, AZ',
 'Seattle, WA',
 'nyc',
 'Truckee, CA',
 'I also lurk on Goodreads ...',
 'Sacramento, CA',
 'Houston, TX',
 'St. Louis, MO',
 'Los Angeles, CA',
 'she/her',
 'United States',
 'Wichita, KS',
 'Donegal, Ireland',
 'United Kingdom',
 'United Kingdom',
 'faulks Road Aba . ',
 'Brussels, Belgium',
 'London, UK',
 'Scotland, United Kingdom',
 'London, UK',
 'Sevilla',
 'Copenhagen, Denmark',
 'Bratislava',
 'London, England',
 'Netherlands',
 'Manchester, England',
 'Bradford, England',
 'Magdeburg, Germany',
 'Lovaina, B√©lgica',
 'Cardiff ',
 'Cork, Ireland ',
 'UK & Ireland',
 'Javea, Spain',
 'Newport, South Wales, UK',
 'Geneva, Switzerland',
 'Berlin (zugereist), Germany ',
 'Los Angeles, CA',
 'Moonüåõ',
 'Karachi,Pakistan',
 'SunnySideOfLife',
 "N 33¬∞36' 0'' / E 73¬∞3' 0''",
 'City of Dreams',
 'Dubai, United Arab Emirates',
 'Bihar, ‡§≠‡§æ‡§∞‡§§',
 'Bandar Kuala Lumpur, Wilayah P',
 'Islamic Republic of Iran',
 'Wales üè¥\U000e0067\U000e0062\U000e0077\U000e006c\U000e0073\U000e007f ',
 'Petaling Jaya Malaysia',
 'Yangon,Myanmar ',
 'Quetta, Pakistan',
 'Liverpool, England',
 'Tattooed In Your Mind',
 '‰∏≠ËèØ‰∫∫Ê∞ëÂÖ±ÂíåÂúãÈ¶ôÊ∏ØÁâπÂà•Ë°åÊîøÂçÄ Hong Kong SAR',
 'Riyadh',
 'Maldives',
 'Singapore',
 'Jersey',
 '‰∏≠ËèØ‰∫∫Ê∞ëÂÖ±ÂíåÂúãÈ¶ôÊ∏ØÁâπÂà•Ë°åÊîøÂçÄ Hong Kong SAR',
 '‰∏≠ËèØ‰∫∫Ê∞ëÂÖ±ÂíåÂúãÈ¶ôÊ∏ØÁâπÂà•Ë°åÊîøÂçÄ Hong Kong SAR',
 'Bahrain',
 'Somewhere in between',
 'Bangkok, Thailand',
 'North Carolina',
 'Sugar Land, Texas',
 'Maryland',
 'Lewes DE',
 'New York, NY',
 'Ataxia, Tremor .',
 'Yale University',
 'Melbourne, FL',
 'Vermont.South Africa.Mainline',
 'S.F., CA ‚áî KCMO ‚áî Charlotte NC',
 '#RemoteWork #Boston ',
 'Seattle, Washington #UpperLeft',
 'S.F., CA ‚áî KCMO ‚áî Charlotte NC',
 'S.F., CA ‚áî KCMO ‚áî Charlotte NC',
 'Durham, NC',
 'Cambridge, MA',
 'World ',
 'Vaxxed in Colorado #binders',
 'TDot & EVERYWHERE!',
 'Somewhere',
 'Jackson Heights, NY',
 'Toronto, ON, Canada',
 'New York, NY',
 'Toronto, Ontario, CAN',
 'Unionbridge ,Md.',
 'Camberville',
 'Dedham, MA',
 'New Jersey, USA',
 'Northeast Ohio',
 'Newport, RI',
 'Charlotte, NC',
 'Glocester, RI, USA',
 'Beach, Rivers & Farmland',
 'Ireland',
 'Windsor Berkshire UK ',
 'Beautiful Ireland',
 'Sligo',
 'Belgium',
 'Dublin City, Ireland',
 'North County Dublin, Ireland',
 'Belgium',
 'Belgium',
 'Madrid ',
 'Austria',
 'North County Dublin, Ireland',
 'Caerdydd',
 'London, England',
 'Monaco',
 'Glasgow, Scotland',
 'Goteborg',
 'emerald isle',
 'London and the Shires...',
 'Glasgow, Scotland',
 'North Yorkshire, UK',
 'Glasgow, Scotland',
 'Motherwell, Scotland',
 'Fife ‚Ä¢ Dundee ‚Ä¢ üè¥\U000e0067\U000e0062\U000e0073\U000e0063\U000e0074\U000e007f',
 'Florence,Italy',
 'Dudelange, Luxembourg',
 'Dudelange, Luxembourg',
 'Leeds, England',
 'Cardiologist - Itay',
 'London and the Shires...',
 'Lugano, Ticino',
 'Karachi,Pakistan',
 'New Delhi',
 'Nepal',
 'Karachi,Pakistan',
 'Dubai, UAE',
 'Dubai',
 'Hyderabad, India',
 'Muscat, Oman',
 'Dubai, United Arab Emirates',
 'Salumbar',
 'London',
 'Pakistan',
 'India',
 'San Antonio, TX',
 'Everywhere',
 'Brecksville, OH',
 'Boulder Colorado',
 'Washington, DC',
 'Cincinnati, OH',
 'Toronto',
 'New York',
 'Scottsdale üõ´üõ¨ La',
 'Washington, D.C.',
 'Greenville, SC',
 'Florida',
 'New York, USA',
 'Watching Baseball',
 'Mississippi City',
 'Washington, USA',
 'California, USA',
 'USA',
 'Los Angeles, CA',
 'Portland, OR',
 'Boardman, OH',
 'United States.',
 'Baton Rouge, LA',
 'NY',
 'NY',
 'Rittenhouse, Philadelphia',
 'Canada and the United States',
 'Mcallen Texas',
 'Staten Island, NY',
 'Lancashire',
 'Paris, France',
 'Worcestershire, United Kingdom',
 'D√ºsseldorf, Germany',
 'Copenhagen',
 'Nottingham, England',
 'Amsterdam',
 'M√ºnchen',
 'PE28 0UR',
 'All over the world',
 'Bremerhaven',
 'Walld√ºrn, Deutschland',
 'Zeilnomade',
 'University of Memes, Dublin',
 'Bayern, Deutschland',
 'Netherlands',
 'Bielefeld, Germany',
 'worldwide',
 'North West of Ireland',
 'Belfast-Genes via Clare/Galway',
 'Paris, France',
 'Home ',
 'Dalton-in-Furness',
 'Belfast-Genes via Clare/Galway',
 'Karachi, Pakistan',
 'Goa, India',
 'Muscat, Oman',
 'Islamic Republic of Iran',
 'Sargodha, Punjab, Pakistan',
 'Maharashtra, India',
 'Doha, Qatar',
 'Maldives',
 'Maldives',
 'Hyderabad, Pakistan',
 'Bengaluru, India',
 'London UK',
 'Indonesia',
 'Mumbai, India',
 'Chennai, Tamil Nadu',
 'Chennai, Tamil Nadu',
 'Pakistan',
 'New Delhi',
 'Chandigarh, India',
 'India',
 'Bengaluru, India',
 'India',
 'Bihar, ‡§≠‡§æ‡§∞‡§§',
 'Rishikesh, India',
 'St Louis, MO',
 'Washington, D.C.',
 'Chicago, IL',
 'Delray Beach Fl 33446',
 'New York, New York',
 '#RemoteWork #Boston ',
 'Ireland',
 'location:  in my head',
 'Canada',
 'Yale University',
 'Colorado',
 'Purely Stone Age',
 'Purely Stone Age',
 'Peachtree City, GA',
 'Staten Island, NYC',
 'New York, NY',
 'Global',
 'North Vancouver, BC',
 'New Orleans, LA',
 'San Diego, CA. USA',
 'Beach, Rivers & Farmland',
 'Castelnovo di Sotto, Emilia Romagna',
 'Barnsley, England',
 'Moray',
 'Leeds, England',
 'Glasgow, Scotland',
 'Glasgow, Scotland',
 'Aylesbury, England',
 'London, England',
 'Falkirk',
 'Barnsley, England',
 'Belgium-Vi·ªát Nam-Hong Kong-È¶ôÊ∏Ø-China-‰∏≠ÂõΩ',
 'Thame Oxon',
 "Omnipresent, aren't you?!",
 'the frozen north',
 'Bath and Leigh on sea',
 'Protect Children+School Staff',
 'Liverpool, England',
 'Newry and Mourne ',
 'Earth ',
 'London',
 'Grosseto - Italy',
 'Madrid ',
 'Liverpool',
 'Riano, Lazio',
 'Cologne, Germany',
 'China',
 'Singapore',
 'Singapore',
 'between worlds',
 'California',
 'San Antonio, TX',
 'Cork/London/Perth',
 'UK',
 'London',
 'BKLYN,  Puerto Rico & Texas',
 'Washington, DC',
 'Kalamboli, Navi Mumbai',
 'Boulder, CO',
 'Shaker Heights, OH, USA.',
 'Miami',
 'North West, England',
 'Eastbourne,sussex',
 'Evans, CO, US, 80620',
 'Houston, TX',
 'Pennsylvania, USA',
 'Washington, DC',
 'Georgia USA',
 'South Carolina, USA',
 'Ireland',
 'Welshpool, Wales',
 'Wherever i lay my hat ',
 'London United Kingdom',
 'Leinster, Ireland',
 'Mumbai, India',
 'Iselin, NJ',
 'Singed Pole, Maine',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 'Lahore, Pakistan',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 'Washington, DC',
 'Salisbury, CT',
 'Philadelphia',
 'Washington',
 'Arizona, USA',
 'Auburn, IN',
 'New York, NY',
 'Ontario, Canada',
 'Columbia MO',
 'FINN Partners - Health Practice',
 'New York/Brazil',
 'Hopkinsville, KY',
 'Silicon Valley',
 'Calabasas, CA',
 'I left my heart in Austin TX',
 'Aberdeen, Scotland',
 'Bussum, Nederland',
 'Switzerland',
 'Salisbury, CT',
 'Arlington VA',
 'North Hollywood, Los Angeles',
 'New Delhi',
 'Nash Co. NC',
 'Henderson NV 89014',
 'North Carolina, USA',
 'Colchester',
 'DELHI, INDIA. ',
 'Pennsylvania, USA',
 'Pennsylvania, USA',
 'Pennsylvania, USA',
 'Pennsylvania, USA',
 'Texas, USA',
 'Louisiana, USA',
 'Portsmouth ',
 'Mumbai, India',
 'Pakistan',
 'kuala lumpur ',
 'Warangal,Telangana   ',
 'Karachi, Hyderabad Pakistan',
 'Chennai, Tamil Nadu',
 'New Delhi (INDIA)',
 'Maur, India',
 'SunnySideOfLife',
 'Purnia, India',
 'Bangkok, Thailand',
 'India',
 'Pokhara , Nepal',
 'Maldives',
 'Kashmir  ⁄©ÿ¥ŸÖ€åÿ±',
 'Hyderabad, India',
 'Assam, India',
 'Delhi -34',
 'Pakistan',
 'Guwahati, India',
 'Gurgaon, India',
 'Sunny San Diego',
 'On a whim',
 'Shaker Heights, OH, USA.',
 'Capitol Hill, Washington',
 'Garden State Resident',
 'Strathroy ON | Lakeport MI',
 'North Myrtle Beach, SC USA',
 'Florida, USA üò∑',
 'Seattle',
 'Gainesville FL',
 'Louisville, KY',
 'Nacotchtank land aka DC',
 'Florida, USA üò∑',
 'West Contra Costa County, CA',
 "Philly 'Burbs (Langhorne, PA)",
 'Champaign, IL, USA',
 'New Jersey, USA',
 'Earth.',
 'Ceredo, WV',
 'Kingwood',
 'New York, NY',
 'Austin',
 'Austin',
 'Pasco, FL',
 'Canada',
 'Virginia Beach, VA',
 'Nashville, Tennessee',
 'Nashville, Tennessee',
 'Ireland',
 'London, England',
 'Edinburgh, Scotland',
 'GL52 6DA',
 'Edinburgh, Scotland',
 'London/Antwerp',
 'London, England',
 'Milan, Italy',
 'Ireland',
 'Thornaby on Tees, England',
 'Thornaby on Tees, England',
 'London, England',
 'London & New Forest',
 'London, England',
 'Bouches-du-Rh√¥ne, Provence-Alp',
 'Stamford, England',
 'Hackney, London, UK',
 'London, England',
 "Belfast 'Norn Iron'",
 'United Kingdom',
 'Topsham',
 'Singapore',
 'Malaysia',
 'Dhaka',
 'Mal√©, Maldives',
 'Hyderabad, India',
 'Helsinki, Finland ',
 'Bombay',
 'Riyadh, Saudi Arabia',
 'Saudi Arabia',
 'Ranchi, India',
 'Maldives',
 'South Extn, New Delhi',
 'Al Wakra, Qatar',
 'New Delhi, India',
 'City of Pearls, India',
 'The Himalaya',
 'Thailand',
 'Kuala Lumpur, Malaysia',
 'Kuala Lumpur City, Kuala Lumpu',
 'Ciudad de M√©xico',
 'Maur, India',
 'Yangon,Myanmar ',
 'North Carolina',
 'Portland, Oregon',
 'Maine, USA',
 'Maine, USA',
 'New York, NY',
 'Ontario, Canada',
 'Bozeman, MT',
 'Weimar Republic',
 'Providence, RI',
 'Oxford, Mississippi',
 'Vancouver, British Columbia',
 'King County, Washington, USA',
 'Cortland, NY',
 'Oxford, Mississippi',
 'United Nations, NYC',
 'Baltimore, MD',
 'Orlando FL',
 'Baltimore, MD',
 'New York City',
 'Massachusetts, Wakanda',
 'Minneapolis, MN',
 'Golden State via NYCüáØüá≤üåä',
 'Washington, DC',
 'Pleasant Prairie, WI',
 'Washington, DC',
 'S.F., CA ‚áî KCMO ‚áî Charlotte NC',
 'United States',
 'Boston, MA',
 'New Jersey, USA',
 'Washington, DC',
 'Pittsburgh, PA',
 'United States',
 'S.F., CA ‚áî KCMO ‚áî Charlotte NC',
 'Civic Center Tenderloin',
 'St Robert,Quebec',
 'Milky Way',
 'Ada County ID',
 'Brighton, England',
 'Paris',
 'Belgium',
 '√úT: 52.475839,-0.710664',
 'Limerick & Ennis Ireland',
 'Dublin City, Ireland',
 'Dublin City, Ireland',
 'Leitrim, Ireland',
 'Clontarf,Dublin,Ireland',
 'Belgium',
 'Belgium',
 'Mayfair london UK 02030877570',
 'Belgium',
 'United Kingdom',
 'London and the Shires...',
 'Glasgow, Scotland',
 'United Kingdom',
 'Banbridge, NI',
 ' London',
 'Cali, London or in the ‚òÅÔ∏è ',
 'Geneva, Switzerland',
 'Roma, Lazio',
 'Germany',
 'Lincolnshire',
 'Richmond-upon-Thames, UK',
 'rbkc, london',
 'Rabat, Kingdom of Morocco',
 'Bari, Italy',
 'Roma',
 'Newton-le-Willows, England',
 'Northampton, England',
 'Cardiff',
 'Noida, Delhi, India',
 'India',
 'Rajouri, Jammu and Kashmir',
 'South Extn, New Delhi',
 'oye Im Pakistani!!',
 'Ahmadabad City, India',
 'Kashmir  ⁄©ÿ¥ŸÖ€åÿ±',
 'Bharat',
 'Maharashtra, India',
 'Bangalore',
 'City of Dreams',
 'Dubai, United Arab Emirates',
 'Miramar ',
 'Corpus Christi, TX',
 'Delray beach,Florida',
 'Del Rey, CA',
 'North of El Lay',
 'San Jose, CA',
 'Canyon Lake, TX',
 'United States',
 'North America',
 'Syracuse, NY',
 'Boston, MA',
 'New York, NY',
 'Somewhere in Time',
 'Seattle, WA',
 'United States',
 'California, USA',
 'Bethlehem',
 'Claremont,CA',
 'America',
 'New York, NY',
 'Miami, FL',
 'Orlando, FL ‚úàÔ∏è World Wide üåé',
 'Vancouver, BC, Canada',
 'Hollywoodland',
 'Philadelphia, PA/Portland, OR ',
 'IG: @RondoThaKiid',
 'IG: @RondoThaKiid',
 'Mason, OH',
 'The Fourth Estate ',
 'St. Petersburg, FL',
 'Pornhub HQ',
 'New South Wales, Australia',
 'Hackney, London',
 'London',
 'Norwich',
 'Southend on Sea',
 'Edinburgh',
 'Wroclaw',
 'Cologne',
 'Antwerpen, Belgi√´',
 'Rotselaar, Belgi√´',
 'Netherlands, Loosdrecht',
 'Brno, ƒåesk√° republika',
 'Frankfurt',
 'Stockholm, Sweden',
 'a spiral galaxy/cat land ',
 'UK and everywhere',
 'France',
 'iPhone: 52.019607,6.062171',
 'Berlin I Br√ºssel ',
 'tunisia ',
 'Tanger - T√©touan, Royaume du M',
 'K√∂ln',
 'Milan, Lombardy',
 'mumbai',
 'Wellington, Shropshire',
 'Barcelona, Catalu√±a',
 'Wangerland und Hamburg',
 'Liverpool, England',
 '‰∏≠ËèØ‰∫∫Ê∞ëÂÖ±ÂíåÂúãÈ¶ôÊ∏ØÁâπÂà•Ë°åÊîøÂçÄ Hong Kong SAR',
 'Hyderabad, India',
 'Hyderabad, India',
 'Gilgit/Lahore. ',
 'Bengaluru, India',
 'Fort Worth, TX',
 'Karachi, Pakistan',
 'In ur heart‚ù§Ô∏èüòò',
 'Hyderabad, Delhi',
 'Dubai, United Arab Emirates',
 'Here, There, Everywhere',
 'Mumbai, Maharashtra',
 'Monaco',
 'Hyderabad, New Delhi, Ballia',
 'Bhopal, India',
 'Makati City',
 'New Delhi, India',
 'Makati City',
 'Dubai, UAE',
 'U.A.E.',
 'Afghanistan',
 'Sindh, Pakistan',
 'Delhi',
 'Afghanistan',
 'Hitech City, Rajendra Nagar',
 'Jaipur, India',
 'Riyadh',
 'Louisville, KY, United States',
 'Long Island/NYC/VT',
 'Glendora, Ca',
 'Saturn',
 'St Petersburg, FL ‚òÄÔ∏è',
 'Los Angeles, CA',
 'United States',
 'United States',
 'Beach, Rivers & Farmland',
 'California',
 "N 33¬∞32' 0'' / W 117¬∞3' 0''",
 'Chicago, IL',
 'San Jose, CA',
 'Washington, DC',
 'Orlando, FL',
 'University of South Carolina',
 'OKCüçÉHouston is my üíó',
 'Northern New Jersey AKA XANADU',
 'Las Vegas, NV',
 'Redwood City, CA',
 'London, England',
 'Wakefield UK',
 'Tower Hamlets',
 'Skipton, England',
 'Leeds, England',
 'Leicester, England',
 'detroit chicago berlin',
 'Southampton, UK',
 'Follow Me On LinkedIn üëâ',
 'UK Herefordshire',
 'Lugo (Ra)',
 'Paris, France',
 'London, England',
 'cardiff',
 'The Doors of Perception',
 'Newcastle Upon Tyne, England',
 'The Cowley Road',
 'Bristol, England',
 'Milton Keynes, England',
 'Maassluis, Nederland',
 'New Delhi, Delhi',
 'London, UK',
 'South East, England',
 'Pennsylvania, USA',
 'San Francisco',
 'United States',
 'United States',
 'Vancouver, WA',
 'Carmel, IN',
 'Litchfield Park, Arizona',
 'Barcelona, Spain',
 'Surrey, England',
 'England, United Kingdom',
 'Beckhamstead',
 'salford',
 'Los Angeles',
 'Wheat Ridge, CO',
 'Houston,Texas',
 'Providence, RI',
 'Bridgewater, MA',
 'Taipei, Taiwan',
 'Auburn, AL',
 'Dallas, TX',
 'Columbia, South Carolina, USA',
 'Kuala Lumpur',
 'London, England',
 'Kuala Lumpur',
 'Los Angeles, CA',
 'Florida, by way of Jersey',
 'Las Vegas',
 'Seattle, WA',
 'Texas, USA',
 'Wherever i lay my hat ',
 'WORLD WIDE ',
 'Assam, India',
 '√úT: 39.042075,-94.588585',
 'Fort Worth, Texas',
 'TCU, Texas',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 'Asheville, NC',
 'Mountain View, CA',
 'United States',
 'S.F., CA ‚áî KCMO ‚áî Charlotte NC',
 'S.F., CA ‚áî KCMO ‚áî Charlotte NC',
 'Enid OK',
 'Alabama',
 'Fairfax, VA',
 'Silicon Valley ',
 'Toronto, Ontario ',
 'Mountain View, CA',
 'Canada',
 'Mountain View, CA',
 'Canora, Saskatchewan',
 'Iowa',
 'illegaly here',
 'Miami, FL',
 'Chicago',
 'Bayou Blue, LA',
 'Miami, FL',
 'The moon ',
 'Stuart, FL - from NOLA',
 'Belfast, Northern Ireland ',
 'Hamburg',
 'Islamabad, Pakistan',
 'Manhattan/day, Queens/night',
 'Washington, DC',
 'South Carolina',
 'South Carolina',
 'Bronx, NY',
 'U.S.A.',
 'Bhubaneshwar, India',
 'Vancouver, British Columbia',
 'Houston',
 'Atlanta, GA',
 'LOS ANGELES CA',
 'Napoli, Campania',
 'Houston, TX',
 'Washington, DC',
 'Gilbert, AZ',
 'Washington, DC',
 'Stratford, London UK',
 'Inverness, Scotland',
 'Milton Keynes',
 'Durgapur, West Bengal, India',
 'Nepal',
 'Singapore',
 ' Dubai, UAE ',
 'Chennai, Tamil Nadu',
 'New Delhi, India',
 'Rohtak, India',
 'India',
 'SunnySideOfLife',
 'Shimla, India',
 'India',
 'New Delhi, India',
 'Jalpaiguri, India',
 'India',
 'India',
 'India',
 'Gagret,Himachal Pradesh, India',
 'Spokane, WA',
 'Texas, USA',
 'Dania Beach, FL',
 'Jacksonville, FL',
 'Antwerp',
 'Antwerp',
 'Mostly home',
 'Texas, USA',
 'Earth.',
 'Los Angeles, CA',
 'Garden State Resident',
 'Overland Park, Kansas',
 'FL ‚û°Ô∏è SC üõ£ MS üõ´ AZ',
 'Dania Beach, FL',
 'Westport, CT',
 'Dania Beach, FL',
 'Copenhagen',
 'Capital Region, Denmark',
 'Copenhagen',
 'Vermont.South Africa.Mainline',
 "CouncilBluffs/IA'sLeading Edge",
 'Westport, CT',
 'Las Vegas, NV',
 'Saint Paul, MN',
 'Manhattan, NY',
 'Dania Beach, FL',
 'Victoria, BC',
 'McLean, VA ',
 'Newport, South Wales, UK',
 'Leeds, England',
 'London, England',
 'York, England',
 'Thornaby on Tees, England',
 'Thornaby on Tees, England',
 'Thornaby on Tees, England',
 'Thornaby on Tees, England',
 'Ireland',
 'Ireland',
 'Varies Somewhat',
 'Paris, France',
 'Mal√©, Maldives',
 'Singapore',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 'Ciudad de M√©xico',
 'Addu, Maldives',
 'Qatar',
 'Gurgaon, India',
 'Ciudad de M√©xico',
 'Al Khobar, Kingdom of Saudi Ar',
 'Bihar, ‡§≠‡§æ‡§∞‡§§',
 "A bit of wherever I've been ",
 'India üáÆüá≥',
 'Mumbai, India',
 'New Delhi, India',
 'Bangkok, Thailand',
 'Aarey, Mumbai',
 'Sydney',
 'Surat, Gujarat, India',
 'Hyderabad, India',
 'Mumbai, India',
 'Bangkok, Thailand',
 'Qatar',
 "Male', Maldives",
 'Andhra Pradesh, India',
 'Warangal,Telangana   ',
 'Bangalore',
 'Seattle, WA',
 'Lincoln, Nebraska, USA',
 'Hartford, CT',
 'Oakland, CA',
 'Dallas, TX',
 'stolen land of Ohlone',
 'Orinda, CA',
 'New York, NY',
 'New Orleans, LA',
 'Philadelphia, PA',
 'San Antonio, TX',
 'Mumbai',
 '√úT: 37.37988,-122.113773',
 'S.F., CA ‚áî KCMO ‚áî Charlotte NC',
 '√úT: 37.37988,-122.113773',
 'Purely Stone Age',
 'S.F., CA ‚áî KCMO ‚áî Charlotte NC',
 '√úT: 26.094028,-80.244448',
 'Portland, OR',
 'United States',
 'Lincoln, Nebraska, USA',
 'Lincoln, Nebraska, USA',
 "wherever there's wifi",
 'Purely Stone Age',
 'United States',
 'Grand Junction, CO',
 'Seattle, WA',
 'Indianapolis, IN',
 'Purely Stone Age',
 'Portland, OR',
 '√úT: 37.37988,-122.113773',
 'Purely Stone Age',
 'Seattle, WA',
 'The Cloud',
 'Portland, OR',
 'Nashville, TN',
 'Inglewood, CA',
 'San Francisco Bay Area',
 'Chandler, AZ',
 'Belgium',
 'London, England',
 'Galway, Ireland',
 'Acquaviva delle Fonti, Italia',
 'Cardiff, Wales',
 'Brussels, Belgium',
 'London, UK',
 'Mansfield',
 'Gen√®ve, Suisse',
 'Cork, Ireland',
 'Budapest, Hungary',
 '#Khansbackgarden',
 'Ballycroy westport mayo',
 'Everywhere',
 'http://www.propofology.com',
 'Lisbon, Portugal',
 'NE Hampshire',
 'Garforth, England',
 'http://www.propofology.com',
 'United Kingdom',
 'Madrid ',
 'Geneva üèî - Amsterdam üå´',
 'Geneva, Switzerland',
 'Madrid ',
 'Dorrington, Nr Shrewsbury, UK',
 'Derby, England',
 'Southport, U.K.',
 'NE Hampshire',
 'NE Hampshire',
 'end of world',
 '√úT: 51.495768,0.082194',
 'Chirurgo Oculista Milano Roma ',
 'North Tipperary & Galway \U0001f92a',
 'Dublin, Ireland',
 'Planet Earth',
 'United Kingdom',
 'Geneva, Switzerland',
 'FARIDABAD',
 'India ',
 'India',
 '√úT: 12.9348934,77.6202838',
 'Jodhpur | Bombay | Pune ',
 'bangalore',
 'Maharashtra, India',
 '595, Budhwar Peth, Pune',
 'Bahrain',
 'Bengaluru, India',
 '‡§â‡§§‡•ç‡§§‡§∞‡§æ‡§ñ‡§Ç‡§°, India üáÆüá≥',
 'India',
 'Maharashtra, India',
 'Noida',
 'nEW dELHI',
 'Mumbai',
 'Warangal,Telangana   ',
 'Andhra Pradesh, India',
 'Andhra Pradesh, India',
 'Delhi',
 'Delhi',
 'Singapore',
 'PAT/DEL/SYD',
 'Hyderabad, India',
 'Hyderabad, India',
 'Mumbai,India',
 'London, UK',
 'New York, USA',
 'Hayward, CA',
 'New York, NY',
 'Dania Beach, FL',
 'Happiest Place on Earth ',
 'Horizon City, TX',
 'San Francisco, CA',
 'Batcave/Basketball Court',
 'New York, USA',
 'miami ',
 'St Petersburg, FL',
 'Pennsylvania ',
 'Mar Vista, Los Angeles',
 'New York, USA',
 'Woodinville, WA',
 'Encino, Los Angeles',
 'Duvall, WA',
 'Glendale/ CA',
 '√úT: 26.094028,-80.244448',
 'Las Vegas, NV',

In [45]:
df.shape

(476159, 8)

In [46]:
df.head()

,user_location,user_followers,user_verified,date,text,hashtags,retweets,likes_count
1,Mumbai,370,FALSE,2020-03-01,I landed in Mumbai at midnight and there was a...,['covid'],0,0
2,Dhaka,57502,FALSE,2020-03-01,Here are the latest developments on the #coron...,"['coronavirusoutbreak', 'COVID', 'Coronavid19']",7,12
3,"Dubai, United Arab Emirates",2061,TRUE,2020-03-01,@UltraAbuDhabi @MEFCC to go ahead as scheduled...,['COVID'],0,0
4,SunnySideOfLife,754,FALSE,2020-03-01,@AbeShinzo request general public to avoid spo...,"['COVID19', 'coronavirus', 'COVID', 'Japan', '...",0,0
5,"Eheliyagoda, Sri Lanka",850,FALSE,2020-03-01,"@warunawijesuriy Hey buddy, I think today #Arm...","['Armenia', 'COVID']",0,0

In [47]:
from geotext import GeoText
# def find_country(n):
#     for c in pycountry.countries:
#         if str(c.name).lower() in n.lower():
#             return c.name

df1 = (df['user_location']
      .replace(r"\bUSA\b", "United States", regex=True)
      .apply(lambda x: GeoText(x).countries))

In [48]:
df1.head()

1             []
2             []
3             []
4             []
5    [Sri Lanka]
Name: user_location, dtype: object

In [49]:
df2 = (df['user_location']
      .replace(r"\bUSA\b", "United States", regex=True)
      .apply(lambda x: GeoText(x).cities))

In [50]:
df2.head()

1    [Mumbai]
2     [Dhaka]
3     [Dubai]
4          []
5          []
Name: user_location, dtype: object

In [51]:
df3 = pd.merge(df2,df1, left_index=True, right_index=True)
df3.head()

  user_location_x user_location_y
1        [Mumbai]              []
2         [Dhaka]              []
3         [Dubai]              []
4              []              []
5              []     [Sri Lanka]

In [52]:
df = pd.merge(df3, df, left_index=True, right_index=True)
df.head()

,user_location_x,user_location_y,user_location,user_followers,user_verified,date,text,hashtags,retweets,likes_count
1,[Mumbai],[],Mumbai,370,FALSE,2020-03-01,I landed in Mumbai at midnight and there was a...,['covid'],0,0
2,[Dhaka],[],Dhaka,57502,FALSE,2020-03-01,Here are the latest developments on the #coron...,"['coronavirusoutbreak', 'COVID', 'Coronavid19']",7,12
3,[Dubai],[],"Dubai, United Arab Emirates",2061,TRUE,2020-03-01,@UltraAbuDhabi @MEFCC to go ahead as scheduled...,['COVID'],0,0
4,[],[],SunnySideOfLife,754,FALSE,2020-03-01,@AbeShinzo request general public to avoid spo...,"['COVID19', 'coronavirus', 'COVID', 'Japan', '...",0,0
5,[],[Sri Lanka],"Eheliyagoda, Sri Lanka",850,FALSE,2020-03-01,"@warunawijesuriy Hey buddy, I think today #Arm...","['Armenia', 'COVID']",0,0

In [53]:
df['user_location_x'] = [','.join(map(str, l)) for l in df['user_location_x']] #List to string
df['user_location_y'] = [','.join(map(str, l)) for l in df['user_location_y']]
df.head()

,user_location_x,user_location_y,user_location,user_followers,user_verified,date,text,hashtags,retweets,likes_count
1,Mumbai,,Mumbai,370,FALSE,2020-03-01,I landed in Mumbai at midnight and there was a...,['covid'],0,0
2,Dhaka,,Dhaka,57502,FALSE,2020-03-01,Here are the latest developments on the #coron...,"['coronavirusoutbreak', 'COVID', 'Coronavid19']",7,12
3,Dubai,,"Dubai, United Arab Emirates",2061,TRUE,2020-03-01,@UltraAbuDhabi @MEFCC to go ahead as scheduled...,['COVID'],0,0
4,,,SunnySideOfLife,754,FALSE,2020-03-01,@AbeShinzo request general public to avoid spo...,"['COVID19', 'coronavirus', 'COVID', 'Japan', '...",0,0
5,,Sri Lanka,"Eheliyagoda, Sri Lanka",850,FALSE,2020-03-01,"@warunawijesuriy Hey buddy, I think today #Arm...","['Armenia', 'COVID']",0,0

In [54]:
web = pd.read_csv('https://datahub.io/core/world-cities/r/world-cities.csv')

In [55]:
web.head()

               name               country          subcountry  geonameid
0      les Escaldes               Andorra  Escaldes-Engordany    3040051
1  Andorra la Vella               Andorra    Andorra la Vella    3041563
2    Umm al Qaywayn  United Arab Emirates      Umm al Qaywayn     290594
3    Ras al-Khaimah  United Arab Emirates     Ra ºs al Khaymah     291074
4      Khawr FakkƒÅn  United Arab Emirates        Ash ShƒÅriqah     291696

In [56]:
web['name'].str.lower()

0            les escaldes
1        andorra la vella
2          umm al qaywayn
3          ras al-khaimah
4            khawr fakkƒÅn
               ...
23013            bulawayo
23014             bindura
23015          beitbridge
23016             epworth
23017         chitungwiza
Name: name, Length: 23018, dtype: object

In [57]:
df['user_location_y'].str.lower()

1
2
3
4
5             sri lanka
              ...
570814            india
570815            india
570816    united states
570817    united states
570818            india
Name: user_location_y, Length: 476159, dtype: object

In [61]:
df_final = df.merge(web, how = 'left', left_on='user_location_x', right_on='name')[['user_location_x', 'user_location_y', 'user_location', 'name','country',
'subcountry','user_followers','user_verified','date','text','hashtags',
'retweets','likes_count']]

In [62]:
df_final.shape

(596927, 13)

In [63]:
df_final.head()

,user_location_x,user_location_y,user_location,name,country,subcountry,user_followers,user_verified,date,text,hashtags,retweets,likes_count
0,Mumbai,,Mumbai,Mumbai,India,Maharashtra,370,FALSE,2020-03-01,I landed in Mumbai at midnight and there was a...,['covid'],0,0
1,Dhaka,,Dhaka,Dhaka,Bangladesh,Dhaka,57502,FALSE,2020-03-01,Here are the latest developments on the #coron...,"['coronavirusoutbreak', 'COVID', 'Coronavid19']",7,12
2,Dubai,,"Dubai, United Arab Emirates",Dubai,United Arab Emirates,Dubai,2061,TRUE,2020-03-01,@UltraAbuDhabi @MEFCC to go ahead as scheduled...,['COVID'],0,0
3,,,SunnySideOfLife,NaN,NaN,NaN,754,FALSE,2020-03-01,@AbeShinzo request general public to avoid spo...,"['COVID19', 'coronavirus', 'COVID', 'Japan', '...",0,0
4,,Sri Lanka,"Eheliyagoda, Sri Lanka",NaN,NaN,NaN,850,FALSE,2020-03-01,"@warunawijesuriy Hey buddy, I think today #Arm...","['Armenia', 'COVID']",0,0

In [64]:
# Filling NAN of country by User_location_y
df_final.country.fillna(df_final.user_location_y, inplace = True)
df_final.head()

,user_location_x,user_location_y,user_location,name,country,subcountry,user_followers,user_verified,date,text,hashtags,retweets,likes_count
0,Mumbai,,Mumbai,Mumbai,India,Maharashtra,370,FALSE,2020-03-01,I landed in Mumbai at midnight and there was a...,['covid'],0,0
1,Dhaka,,Dhaka,Dhaka,Bangladesh,Dhaka,57502,FALSE,2020-03-01,Here are the latest developments on the #coron...,"['coronavirusoutbreak', 'COVID', 'Coronavid19']",7,12
2,Dubai,,"Dubai, United Arab Emirates",Dubai,United Arab Emirates,Dubai,2061,TRUE,2020-03-01,@UltraAbuDhabi @MEFCC to go ahead as scheduled...,['COVID'],0,0
3,,,SunnySideOfLife,NaN,,NaN,754,FALSE,2020-03-01,@AbeShinzo request general public to avoid spo...,"['COVID19', 'coronavirus', 'COVID', 'Japan', '...",0,0
4,,Sri Lanka,"Eheliyagoda, Sri Lanka",NaN,Sri Lanka,NaN,850,FALSE,2020-03-01,"@warunawijesuriy Hey buddy, I think today #Arm...","['Armenia', 'COVID']",0,0

In [65]:
df_final = df_final.drop(['user_location_x','user_location_y','user_location','name'], axis =1)

In [66]:
df_final.country.isnull().sum()

0

In [67]:
df_final.head()

,country,subcountry,user_followers,user_verified,date,text,hashtags,retweets,likes_count
0,India,Maharashtra,370,FALSE,2020-03-01,I landed in Mumbai at midnight and there was a...,['covid'],0,0
1,Bangladesh,Dhaka,57502,FALSE,2020-03-01,Here are the latest developments on the #coron...,"['coronavirusoutbreak', 'COVID', 'Coronavid19']",7,12
2,United Arab Emirates,Dubai,2061,TRUE,2020-03-01,@UltraAbuDhabi @MEFCC to go ahead as scheduled...,['COVID'],0,0
3,,NaN,754,FALSE,2020-03-01,@AbeShinzo request general public to avoid spo...,"['COVID19', 'coronavirus', 'COVID', 'Japan', '...",0,0
4,Sri Lanka,NaN,850,FALSE,2020-03-01,"@warunawijesuriy Hey buddy, I think today #Arm...","['Armenia', 'COVID']",0,0

In [68]:
import numpy as np
df_final['country'].replace('', np.nan, inplace=True)

In [70]:
df_final.dropna(subset=['country'], inplace=True)

In [71]:
df_final.head()

,country,subcountry,user_followers,user_verified,date,text,hashtags,retweets,likes_count
0,India,Maharashtra,370,FALSE,2020-03-01,I landed in Mumbai at midnight and there was a...,['covid'],0,0
1,Bangladesh,Dhaka,57502,FALSE,2020-03-01,Here are the latest developments on the #coron...,"['coronavirusoutbreak', 'COVID', 'Coronavid19']",7,12
2,United Arab Emirates,Dubai,2061,TRUE,2020-03-01,@UltraAbuDhabi @MEFCC to go ahead as scheduled...,['COVID'],0,0
4,Sri Lanka,NaN,850,FALSE,2020-03-01,"@warunawijesuriy Hey buddy, I think today #Arm...","['Armenia', 'COVID']",0,0
5,India,NCT,908,FALSE,2020-03-01,This is what keeps India alive..\n#Section144\...,"['Section144', 'SundayMotivation', 'COVID']",1,2

In [73]:
df_final.shape

(451259, 9)

## Selecting df by countries

In [74]:
df_france  = df_final[df_final.country  == "France"]

In [75]:
df_france.head()

,country,subcountry,user_followers,user_verified,date,text,hashtags,retweets,likes_count
261,France,√éle-de-France,5698,FALSE,2020-03-01,"I did good by not buying the tickets, #madonna...","['madonna', 'Corona']",0,2
281,France,√éle-de-France,286,FALSE,2020-03-01,My daughter's Ballet School refused to accept ...,['Corona'],0,0
648,France,√éle-de-France,830,FALSE,2020-03-02,The #COVID19 epidemic continues to expand rapi...,"['COVID19', 'NYTimes']",0,0
756,France,NaN,1852,FALSE,2020-03-02,#corona #coronavirusfr this is the reason of t...,"['corona', 'coronavirusfr']",1,0
841,France,√éle-de-France,82672,TRUE,2020-03-02,Alibaba‚Äôs new #AI system can detect #coronavir...,"['AI', 'coronavirus', 'Covid_19']",1,6

# Text

In [76]:
df_final.text.head()

0    I landed in Mumbai at midnight and there was a...
1    Here are the latest developments on the #coron...
2    @UltraAbuDhabi @MEFCC to go ahead as scheduled...
4    @warunawijesuriy Hey buddy, I think today #Arm...
5    This is what keeps India alive..\n#Section144\...
Name: text, dtype: object

In [77]:
pd.set_option('display.max_colwidth', 700)
df_final.text.head()

0                                                                                                                                                             I landed in Mumbai at midnight and there was absolutely no thermal scan or temperature check. #covid
1    Here are the latest developments on the #coronavirusoutbreak:\n\n-A boom of cases in Italy, Iran and the U.K.\n-Italy to spend $4B on coronavirus fight\n-New York gets OK to develop its own coronavirus test\n\n#COVID #Coronavid19 https://t.co/t9I7scIuNi
2                                                                    @UltraAbuDhabi @MEFCC to go ahead as scheduled. @DJmag Middle East stands cancelled. Experts give their valuable advice on safety protocols at massive events! #COVID https://t.co/0XVKPI4Hb3
4                                                                                                                                                                @warunawijesuriy Hey buddy, I think today #Armenia  Records his first patient who suffered #COVID
5                                                                                                                                                                This is what keeps India alive..\n#Section144\n#SundayMotivation\n#COVID\nhttps://t.co/eD05WlkXQB
Name: text, dtype: object

In [80]:
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ayushjain9\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [87]:
# stop_words1 = stopwords.words("english")
# print(stop_words1)
stop_words = set(stopwords.words("english"))
stop_words.discard('not')

In [96]:
def text_preproc(x):
  x = x.lower()
  x = ' '.join([word for word in x.split(' ') if word not in stop_words]) # Remove stop words
  x = x.encode('ascii', 'ignore').decode() # Remove unicode characters
  x = ' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)"," ",x).split())
  # x = re.sub(r'https*\S+', ' ', x) #  Remove URL
  # x = re.sub(r'@\S+', ' ', x)  # Remove mentions
  # x = re.sub(r'#\S+', ' ', x) # Remove Hashtags
  # x = re.sub(r'\'\w+', '', x) # Remove ticks and the next character
  # x = re.sub('[%s]' % re.escape(string.punctuation), ' ', x) # remove punctuations
  x = re.sub(r'\w*\d+\w*', '', x) # remove numbers
  x = re.sub(r'\s{2,}', ' ', x) # replace over spaces
  return x

In [97]:
df_final['clean_texts'] = df_final.text.apply(text_preproc)
df_final.clean_texts.head()

0                                                                                landed mumbai midnight absolutely thermal scan temperature check covid
1    latest developments coronavirusoutbreak a boom cases italy iran u k italy spend coronavirus fight new york gets ok develop coronavirus test covid
2                                    go ahead scheduled middle east stands cancelled experts give valuable advice safety protocols massive events covid
4                                                                                    hey buddy think today armenia records first patient suffered covid
5                                                                                                              keeps india alive sundaymotivation covid
Name: clean_texts, dtype: object

In [94]:
df_final['clean_texts_no_Stopwords'] = df_final.text.apply(text_preproc)

In [95]:
df_final.clean_texts_no_Stopwords.head()

0                                                                                                       i landed in mumbai at midnight and there was absolutely no thermal scan or temperature check covid
1    here are the latest developments on the coronavirusoutbreak a boom of cases in italy iran and the u k italy to spend on coronavirus fight new york gets ok to develop its own coronavirus test covid
2                                                                     to go ahead as scheduled middle east stands cancelled experts give their valuable advice on safety protocols at massive events covid
4                                                                                                                             hey buddy i think today armenia records his first patient who suffered covid
5                                                                                                                                                    this is what keeps india alive sundaymotivation covid
Name: clean_texts_no_Stopwords, dtype: object