In [1]:
import pandas as pd
import re

## 'Covid Data'

In [2]:
data = pd.read_csv("C:\\Users\\ayushjain9\\Desktop\\TwitterProject\\data\\combine.csv")

In [3]:
data.shape

(870589, 10)

In [4]:
#Remove duplicates from Content column
data.drop_duplicates(subset ="Content", inplace = True)

In [5]:
data.shape

(377547, 10)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 377547 entries, 0 to 870566
Data columns (total 10 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Datetime         377546 non-null  object
 1   Tweet Id         377545 non-null  object
 2   Content          377546 non-null  object
 3   Location         348776 non-null  object
 4   Retweeted Tweet  2 non-null       object
 5   Retweeted Count  377543 non-null  object
 6   Like Count       377543 non-null  object
 7   Hashtags         377394 non-null  object
 8   Follower Count   377542 non-null  object
 9   Verified User    377542 non-null  object
dtypes: object(10)
memory usage: 31.7+ MB

In [7]:
## Retweeted Tweet is 2
data.drop(['Tweet Id', 'Retweeted Tweet'], axis = 1, inplace=True)

In [8]:
print(data.columns.values.tolist())

['Datetime', 'Content', 'Location', 'Retweeted Count', 'Like Count', 'Hashtags', 'Follower Count', 'Verified User']

In [9]:
data.columns = [ 'date', 'text','user_location', 'retweets', 'likes_count','hashtags', 'user_followers', 'user_verified']

In [10]:
data = data[['user_location','user_followers', 'user_verified','date', 'text', 'hashtags','retweets','likes_count' ]]

In [11]:
data.head()

,user_location,user_followers,user_verified,date,text,hashtags,retweets,likes_count
0,‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢,33,FALSE,2020-03-01 23:34:58+00:00,Everyone takes care of their health please.‚úåüèΩüò∑...,"['COVID', 'worldwide']",2,2
1,Mumbai,370,FALSE,2020-03-01 22:08:50+00:00,I landed in Mumbai at midnight and there was a...,['covid'],0,0
2,Dhaka,57502,FALSE,2020-03-01 22:03:21+00:00,Here are the latest developments on the #coron...,"['coronavirusoutbreak', 'COVID', 'Coronavid19']",7,12
3,"Dubai, United Arab Emirates",2061,TRUE,2020-03-01 20:00:10+00:00,@UltraAbuDhabi @MEFCC to go ahead as scheduled...,['COVID'],0,0
4,SunnySideOfLife,754,FALSE,2020-03-01 18:37:11+00:00,@AbeShinzo request general public to avoid spo...,"['COVID19', 'coronavirus', 'COVID', 'Japan', '...",0,0

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 377547 entries, 0 to 870566
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_location   348776 non-null  object
 1   user_followers  377542 non-null  object
 2   user_verified   377542 non-null  object
 3   date            377546 non-null  object
 4   text            377546 non-null  object
 5   hashtags        377394 non-null  object
 6   retweets        377543 non-null  object
 7   likes_count     377543 non-null  object
dtypes: object(8)
memory usage: 25.9+ MB

## 'Vaccination Data'

In [13]:
data1 = pd.read_csv("C:\\Users\\ayushjain9\\Desktop\\TwitterProject\\data\\vaccination_all_tweets.csv")

In [14]:
data1.shape

(193272, 16)

In [15]:
data1.columns

Index(['id', 'user_name', 'user_location', 'user_description', 'user_created',
       'user_followers', 'user_friends', 'user_favourites', 'user_verified',
       'date', 'text', 'hashtags', 'source', 'retweets', 'favorites',
       'is_retweet'],
      dtype='object')

In [16]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193272 entries, 0 to 193271
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                193272 non-null  int64
 1   user_name         193271 non-null  object
 2   user_location     134699 non-null  object
 3   user_description  179542 non-null  object
 4   user_created      193272 non-null  object
 5   user_followers    193272 non-null  int64
 6   user_friends      193272 non-null  int64
 7   user_favourites   193272 non-null  int64
 8   user_verified     193272 non-null  bool
 9   date              193272 non-null  object
 10  text              193272 non-null  object
 11  hashtags          152299 non-null  object
 12  source            193153 non-null  object
 13  retweets          193272 non-null  int64
 14  favorites         193272 non-null  int64
 15  is_retweet        193272 non-null  bool
dtypes: bool(2), int64(6), object(8)
memory usage: 21.0+ MB

In [17]:
data1.drop(['id','user_name','user_description', 'user_created','user_friends','source','is_retweet','user_favourites'], axis = 1, inplace=True)

In [18]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193272 entries, 0 to 193271
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_location   134699 non-null  object
 1   user_followers  193272 non-null  int64
 2   user_verified   193272 non-null  bool
 3   date            193272 non-null  object
 4   text            193272 non-null  object
 5   hashtags        152299 non-null  object
 6   retweets        193272 non-null  int64
 7   favorites       193272 non-null  int64
dtypes: bool(1), int64(3), object(4)
memory usage: 10.5+ MB

In [19]:
data1.columns = [ 'user_location','user_followers', 'user_verified','date', 'text', 'hashtags','retweets','likes_count']

In [20]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193272 entries, 0 to 193271
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_location   134699 non-null  object
 1   user_followers  193272 non-null  int64
 2   user_verified   193272 non-null  bool
 3   date            193272 non-null  object
 4   text            193272 non-null  object
 5   hashtags        152299 non-null  object
 6   retweets        193272 non-null  int64
 7   likes_count     193272 non-null  int64
dtypes: bool(1), int64(3), object(4)
memory usage: 10.5+ MB

In [21]:
data1.head()

,user_location,user_followers,user_verified,date,text,hashtags,retweets,likes_count
0,"La Crescenta-Montrose, CA",405,False,2020-12-20 06:06:44,Same folks said daikon paste could treat a cyt...,['PfizerBioNTech'],0,0
1,"San Francisco, CA",834,False,2020-12-13 16:27:13,While the world has been on the wrong side of ...,NaN,1,1
2,Your Bed,10,False,2020-12-12 20:33:45,#coronavirus #SputnikV #AstraZeneca #PfizerBio...,"['coronavirus', 'SputnikV', 'AstraZeneca', 'Pf...",0,0
3,"Vancouver, BC - Canada",49165,True,2020-12-12 20:23:59,"Facts are immutable, Senator, even when you're...",NaN,446,2129
4,NaN,152,False,2020-12-12 20:17:19,Explain to me again why we need a vaccine @Bor...,"['whereareallthesickpeople', 'PfizerBioNTech']",0,0

# Merging Two DataFrames

In [22]:
# Stack the DataFrames on top of each other
df = pd.concat([data, data1], axis=0, ignore_index = True)

In [23]:
df.shape

(570819, 8)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 570819 entries, 0 to 570818
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_location   483475 non-null  object
 1   user_followers  570814 non-null  object
 2   user_verified   570814 non-null  object
 3   date            570818 non-null  object
 4   text            570818 non-null  object
 5   hashtags        529693 non-null  object
 6   retweets        570815 non-null  object
 7   likes_count     570815 non-null  object
dtypes: object(8)
memory usage: 34.8+ MB

In [25]:
df.head()

,user_location,user_followers,user_verified,date,text,hashtags,retweets,likes_count
0,‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢,33,FALSE,2020-03-01 23:34:58+00:00,Everyone takes care of their health please.‚úåüèΩüò∑...,"['COVID', 'worldwide']",2,2
1,Mumbai,370,FALSE,2020-03-01 22:08:50+00:00,I landed in Mumbai at midnight and there was a...,['covid'],0,0
2,Dhaka,57502,FALSE,2020-03-01 22:03:21+00:00,Here are the latest developments on the #coron...,"['coronavirusoutbreak', 'COVID', 'Coronavid19']",7,12
3,"Dubai, United Arab Emirates",2061,TRUE,2020-03-01 20:00:10+00:00,@UltraAbuDhabi @MEFCC to go ahead as scheduled...,['COVID'],0,0
4,SunnySideOfLife,754,FALSE,2020-03-01 18:37:11+00:00,@AbeShinzo request general public to avoid spo...,"['COVID19', 'coronavirus', 'COVID', 'Japan', '...",0,0

# Data Cleaning

## Date

In [26]:
df.date.isna

<bound method Series.isna of 0         2020-03-01 23:34:58+00:00
1         2020-03-01 22:08:50+00:00
2         2020-03-01 22:03:21+00:00
3         2020-03-01 20:00:10+00:00
4         2020-03-01 18:37:11+00:00
                    ...
570814          2021-09-13 10:30:30
570815          2021-09-13 10:30:19
570816          2021-09-13 10:27:21
570817          2021-09-13 10:24:15
570818          2021-09-13 10:00:18
Name: date, Length: 570819, dtype: object>

In [27]:
df.dropna(subset =['date'], inplace=True)

In [33]:
df['date'] = pd.to_datetime(df['date'], errors='coerce').dt.date

AttributeError: Can only use .dt accessor with datetimelike values

In [28]:
data['date'] = pd.to_datetime(data['date'], errors='coerce').dt.date

In [29]:
data1['date'] = pd.to_datetime(data1['date'], errors='coerce').dt.date

In [30]:
data.date

0         2020-03-01
1         2020-03-01
2         2020-03-01
3         2020-03-01
4         2020-03-01
             ...
870562    2021-09-25
870563    2021-09-25
870564    2021-09-25
870565    2021-09-25
870566    2021-09-25
Name: date, Length: 377547, dtype: object

In [31]:
data1.date

0         2020-12-20
1         2020-12-13
2         2020-12-12
3         2020-12-12
4         2020-12-12
             ...
193267    2021-09-13
193268    2021-09-13
193269    2021-09-13
193270    2021-09-13
193271    2021-09-13
Name: date, Length: 193272, dtype: object

In [32]:
df = pd.concat([data, data1], axis=0, ignore_index = True)

In [33]:
df.head()

,user_location,user_followers,user_verified,date,text,hashtags,retweets,likes_count
0,‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢,33,FALSE,2020-03-01,Everyone takes care of their health please.‚úåüèΩüò∑...,"['COVID', 'worldwide']",2,2
1,Mumbai,370,FALSE,2020-03-01,I landed in Mumbai at midnight and there was a...,['covid'],0,0
2,Dhaka,57502,FALSE,2020-03-01,Here are the latest developments on the #coron...,"['coronavirusoutbreak', 'COVID', 'Coronavid19']",7,12
3,"Dubai, United Arab Emirates",2061,TRUE,2020-03-01,@UltraAbuDhabi @MEFCC to go ahead as scheduled...,['COVID'],0,0
4,SunnySideOfLife,754,FALSE,2020-03-01,@AbeShinzo request general public to avoid spo...,"['COVID19', 'coronavirus', 'COVID', 'Japan', '...",0,0

In [36]:
df.date.isnull().sum()
#NEED TO GET CHECKED

3

In [35]:
df.date.dropna(inplace= True)

In [37]:
null_data = df[df.date.isnull()]
null_data

,user_location,user_followers,user_verified,date,text,hashtags,retweets,likes_count
401,Location,Follower Count,Verified User,NaT,Content,Hashtags,Retweeted Count,Like Count
123239,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN
123240,0,NaN,NaN,NaT,0,NaN,650,FALSE

In [38]:
df[pd.notnull(df['date'])]

,user_location,user_followers,user_verified,date,text,hashtags,retweets,likes_count
0,‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢,33,FALSE,2020-03-01,Everyone takes care of their health please.‚úåüèΩüò∑...,"['COVID', 'worldwide']",2,2
1,Mumbai,370,FALSE,2020-03-01,I landed in Mumbai at midnight and there was a...,['covid'],0,0
2,Dhaka,57502,FALSE,2020-03-01,Here are the latest developments on the #coron...,"['coronavirusoutbreak', 'COVID', 'Coronavid19']",7,12
3,"Dubai, United Arab Emirates",2061,TRUE,2020-03-01,@UltraAbuDhabi @MEFCC to go ahead as scheduled...,['COVID'],0,0
4,SunnySideOfLife,754,FALSE,2020-03-01,@AbeShinzo request general public to avoid spo...,"['COVID19', 'coronavirus', 'COVID', 'Japan', '...",0,0
...,...,...,...,...,...,...,...,...
570814,"Bengaluru, India",25,False,2021-09-13,18-44 #BBMP #Bengaluru #CovidVaccine Availabil...,"['BBMP', 'Bengaluru', 'CovidVaccine', 'COVISHI...",0,1
570815,"Bengaluru, India",25,False,2021-09-13,18-44 #URBAN #Bengaluru #CovidVaccine Availabi...,"['URBAN', 'Bengaluru', 'CovidVaccine', 'COVISH...",0,0
570816,"Fremont, CA, USA",670,False,2021-09-13,US Special Envoy for Climate ... - https://t.c...,['IndiaPostUSA'],0,1
570817,"Fremont, CA, USA",670,False,2021-09-13,India's cumulative COVID-19 vaccination covera...,NaN,0,0
570818,"Bengaluru, India",25,False,2021-09-13,45+ #URBAN #Bengaluru #CovidVaccine Availabili...,"['URBAN', 'Bengaluru', 'CovidVaccine', 'COVISH...",0,0

In [39]:
df.date.isnull().sum()

3

In [40]:
df.head()

,user_location,user_followers,user_verified,date,text,hashtags,retweets,likes_count
0,‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢,33,FALSE,2020-03-01,Everyone takes care of their health please.‚úåüèΩüò∑...,"['COVID', 'worldwide']",2,2
1,Mumbai,370,FALSE,2020-03-01,I landed in Mumbai at midnight and there was a...,['covid'],0,0
2,Dhaka,57502,FALSE,2020-03-01,Here are the latest developments on the #coron...,"['coronavirusoutbreak', 'COVID', 'Coronavid19']",7,12
3,"Dubai, United Arab Emirates",2061,TRUE,2020-03-01,@UltraAbuDhabi @MEFCC to go ahead as scheduled...,['COVID'],0,0
4,SunnySideOfLife,754,FALSE,2020-03-01,@AbeShinzo request general public to avoid spo...,"['COVID19', 'coronavirus', 'COVID', 'Japan', '...",0,0

## Location

In [41]:
# Location
df.user_location

0                            ‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢
1                               Mumbai
2                                Dhaka
3         Dubai, United Arab Emirates
4                      SunnySideOfLife
                      ...
570814                Bengaluru, India
570815                Bengaluru, India
570816                Fremont, CA, USA
570817                Fremont, CA, USA
570818                Bengaluru, India
Name: user_location, Length: 570819, dtype: object

In [42]:
df.user_location.isnull().sum()

87344

In [43]:
df.dropna(subset =['user_location'], inplace=True)

In [44]:
import nltk
# nltk.download('words')
from nltk.corpus import words

In [45]:
Word = list(set(words.words()))

df_final = df[df['user_location'].str.contains('|'.join(Word))]

print(df_final)

                       user_location user_followers user_verified        date  \
1                             Mumbai            370         FALSE  2020-03-01
2                              Dhaka          57502         FALSE  2020-03-01
3       Dubai, United Arab Emirates            2061          TRUE  2020-03-01
4                    SunnySideOfLife            754         FALSE  2020-03-01
5             Eheliyagoda, Sri Lanka            850         FALSE  2020-03-01
...                              ...            ...           ...         ...
570814              Bengaluru, India             25         False  2021-09-13
570815              Bengaluru, India             25         False  2021-09-13
570816              Fremont, CA, USA            670         False  2021-09-13
570817              Fremont, CA, USA            670         False  2021-09-13
570818              Bengaluru, India             25         False  2021-09-13

                                                     text  \
1       I landed in Mumbai at midnight and there was a...
2       Here are the latest developments on the #coron...
3       @UltraAbuDhabi @MEFCC to go ahead as scheduled...
4       @AbeShinzo request general public to avoid spo...
5       @warunawijesuriy Hey buddy, I think today #Arm...
...                                                   ...
570814  18-44 #BBMP #Bengaluru #CovidVaccine Availabil...
570815  18-44 #URBAN #Bengaluru #CovidVaccine Availabi...
570816  US Special Envoy for Climate ... - https://t.c...
570817  India's cumulative COVID-19 vaccination covera...
570818  45+ #URBAN #Bengaluru #CovidVaccine Availabili...

                                                 hashtags retweets likes_count
1                                               ['covid']        0           0
2         ['coronavirusoutbreak', 'COVID', 'Coronavid19']        7          12
3                                               ['COVID']        0           0
4       ['COVID19', 'coronavirus', 'COVID', 'Japan', '...        0           0
5                                    ['Armenia', 'COVID']        0           0
...                                                   ...      ...         ...
570814  ['BBMP', 'Bengaluru', 'CovidVaccine', 'COVISHI...        0           1
570815  ['URBAN', 'Bengaluru', 'CovidVaccine', 'COVISH...        0           0
570816                                   ['IndiaPostUSA']        0           1
570817                                                NaN        0           0
570818  ['URBAN', 'Bengaluru', 'CovidVaccine', 'COVISH...        0           0

[476160 rows x 8 columns]

In [46]:
df_final.head()

,user_location,user_followers,user_verified,date,text,hashtags,retweets,likes_count
1,Mumbai,370,FALSE,2020-03-01,I landed in Mumbai at midnight and there was a...,['covid'],0,0
2,Dhaka,57502,FALSE,2020-03-01,Here are the latest developments on the #coron...,"['coronavirusoutbreak', 'COVID', 'Coronavid19']",7,12
3,"Dubai, United Arab Emirates",2061,TRUE,2020-03-01,@UltraAbuDhabi @MEFCC to go ahead as scheduled...,['COVID'],0,0
4,SunnySideOfLife,754,FALSE,2020-03-01,@AbeShinzo request general public to avoid spo...,"['COVID19', 'coronavirus', 'COVID', 'Japan', '...",0,0
5,"Eheliyagoda, Sri Lanka",850,FALSE,2020-03-01,"@warunawijesuriy Hey buddy, I think today #Arm...","['Armenia', 'COVID']",0,0

In [47]:
df.head()

,user_location,user_followers,user_verified,date,text,hashtags,retweets,likes_count
0,‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢,33,FALSE,2020-03-01,Everyone takes care of their health please.‚úåüèΩüò∑...,"['COVID', 'worldwide']",2,2
1,Mumbai,370,FALSE,2020-03-01,I landed in Mumbai at midnight and there was a...,['covid'],0,0
2,Dhaka,57502,FALSE,2020-03-01,Here are the latest developments on the #coron...,"['coronavirusoutbreak', 'COVID', 'Coronavid19']",7,12
3,"Dubai, United Arab Emirates",2061,TRUE,2020-03-01,@UltraAbuDhabi @MEFCC to go ahead as scheduled...,['COVID'],0,0
4,SunnySideOfLife,754,FALSE,2020-03-01,@AbeShinzo request general public to avoid spo...,"['COVID19', 'coronavirus', 'COVID', 'Japan', '...",0,0

In [48]:
df_final.shape

(476160, 8)

In [49]:
df_final.user_location.isnull().sum()

0

In [50]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 476160 entries, 1 to 570818
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_location   476160 non-null  object
 1   user_followers  476160 non-null  object
 2   user_verified   476160 non-null  object
 3   date            476159 non-null  object
 4   text            476160 non-null  object
 5   hashtags        443610 non-null  object
 6   retweets        476160 non-null  object
 7   likes_count     476160 non-null  object
dtypes: object(8)
memory usage: 32.7+ MB

In [104]:
#text
df_final_test = df[df['text'].str.contains('|'.join(Word))]
df_final_test.head()

,user_location,user_followers,user_verified,date,text,hashtags,retweets,likes_count
0,‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢,33,FALSE,2020-03-01,Everyone takes care of their health please.‚úåüèΩüò∑...,"['COVID', 'worldwide']",2,2
1,Mumbai,370,FALSE,2020-03-01,I landed in Mumbai at midnight and there was a...,['covid'],0,0
2,Dhaka,57502,FALSE,2020-03-01,Here are the latest developments on the #coron...,"['coronavirusoutbreak', 'COVID', 'Coronavid19']",7,12
3,"Dubai, United Arab Emirates",2061,TRUE,2020-03-01,@UltraAbuDhabi @MEFCC to go ahead as scheduled...,['COVID'],0,0
4,SunnySideOfLife,754,FALSE,2020-03-01,@AbeShinzo request general public to avoid spo...,"['COVID19', 'coronavirus', 'COVID', 'Japan', '...",0,0